
@{
    Layout = null;
}

<div class="header-gray text-gray" style="line-height: 30px;background:#1593FF;">
    <div style="width:70%;margin:0 auto;">
        @*<div><span id="Time_Show"></span>，欢迎来到塑料和弹性体页面！</div>*@
        <div class="logo-register-btn" style="border: none;margin-top: 5px;">
            <span id="isLogin_0">
                <a class="btn" href="/Home/Index" style="color: #ffffff;">塑蚁网首页</a><span style="color:#ffffff;"> | </span>
                <a class="btn" href="/MemberCenter/Register" style="color: #ffffff;">注册</a><span style="color:#ffffff;"> | </span>
                <a class="btn" href="/MemberCenter/Login" style="color: #ffffff;">登录</a>
            </span>
        </div>
        <div class="logo-register-btn" style="border: none;margin-top: 5px;float:right;">
            <span id="isLogin_0">
                <a class="btn" href="/MemberCenter/Index" style="color: #ffffff;">会员中心</a><span style="color:#ffffff;"> | </span>
                <a class="btn" href="/MemberCenter/Register" style="color: #ffffff;">合作伙伴</a><span style="color:#ffffff;"> | </span>
                <a class="btn" href="/MemberCenter/Index" style="color: #ffffff;">帮助中心</a><span style="color:#ffffff;"> | </span>
                <a class="btn" style="color: #ffffff;">手机版</a>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var str_time = "";
        now = new Date(), hour = now.getHours()
        if (hour < 6) { str_time = "凌晨好"; }
        else if (hour < 9) { str_time = "早上好";  }
        else if (hour < 12) { str_time = "上午好";  }
        else if (hour < 14) { str_time = "中午好";  }
        else if (hour < 17) { str_time = "下午好";  }
        else if (hour < 19) { str_time = "傍晚好";  }
        else if (hour < 22) { str_time = "晚上好";  }
        else { str_time = "夜里好"; }
        $("#Time_Show").html(str_time);
        var isval = '0';
        if ('@(Request.Cookies["AccountData"] != null)'=="True") {
            isval = "1";
        }
        if (isval == "1") {
            $("#isLogin_0").remove();
        }
        else {
            $("#isLogin_1").remove();
        }
        //alert(isval);
    })
</script>