
@{
    Layout = null;
}
@{var hotProducts = ViewBag.HotList == null ? (new List<PlasModel.ProductViewModel>()) : (ViewBag.HotList as List<PlasModel.ProductViewModel>);}
<div class="header-white">
    <div class="logo">
        <a href="/"> <img src="/Content/img/logo.png" alt="塑蚁网-全国最精准永久免费塑胶和助剂材料物性搜索网站" title="塑蚁网-全国最精准永久免费塑胶和助剂材料物性搜索网站"></a>
    </div>
    <div class="header-search-box">
        <input type="text" class="search-input-orange" id="search_input_top" placeholder="请输入任意塑料类型、型号、厂家、性能、用途进行智能搜索"><span onclick="onSearch_Top_select();" class="fa fa-search search-icon search-icon-orange">搜索</span>
        <div class="common-models">
            常用型号：
            @foreach (var item in hotProducts)
            {
                <span class="item"><a href="/PhysicalProducts/Detail/@(item.ProductGuid).html" target="_blank">@item.ProModel</a></span>
            }
            <!---<span class="item">VSTOUT@L13-PYX</span><span class="item">VSTOUT@L17-PYX</span>--->
        </div>
    </div>
</div>
<script type="text/javascript" src="/Content/src/js/search-suggest.js"></script>

<script type="text/javascript">
    function onSearch_Top_select() {
        var keyword = $.trim($("#search_input_top").val());
        if (keyword == "") {
            alert("请输入任意塑料类型、型号、厂家、性能、用途!");
            $("#search_input_top").focus();
            return false;
        }
        else {
            window.location.href = "/Product/Index?key=" + encodeURI(encodeURI(keyword));
        }
    }
    var inputwidht = "650";
    $(function () {
        inputwidht = $("#search_input_top").width();
    })
    //淘宝搜索建议
    $("#search_input_top").searchSuggest({
        url: 'http://suggest.taobao.com/sug?code=utf-8&extras=1&q=',
        /*优先从url ajax 请求 json 帮助数据，注意最后一个参数为关键字请求参数*/
        jsonp: 'callback',
        /*如果从 url 获取数据，并且需要跨域，则该参数必须设置*/
        json: {
            'data': [{
                'id': '0',
                'word': 'baidu',
                'description': ''
            }, {
                'id': '1',
                'word': 'lzw.me',
                'description': ''
            }, {
                'id': '2',
                'word': 'w1.lzw.me',
                'description': ''
            }, {
                'id': '3',
                'word': 'g.lzw.me',
                'description': ''
            }, {
                'id': '4',
                'word': 'seo.lzw.me',
                'description': ''
            }],
            'defaults': 'http://lzw.me'
        }, //
        width: inputwidht, //提示框的宽度，缺省为输入框的宽度相同
        topoffset: 16, //提示框与输入框的距离，缺省为5
        style: 'list',
        cssFile: '/Content/src/css/search-suggest.css',
        tpl: '<div class="list"><div class="word" rel_id="st_{id}">{word}</div></div>',
        processData: function (json) { // url 获取数据时，对数据的处理，作为 getData 的回调函数
            debugger;
            if (!json || json.length == 0) return false;

            var jsonStr = "{'data':[";
            $.each(json, function (index, item) {
                jsonStr += "{'id':'" + item.id + "','word':'" + item.Word + "', 'description': '" + item.description + "'},";
            })
             jsonStr += "],'defaults':'塑蚁网'}";

            //字符串转化为 js 对象
            return json = (new Function("return " + jsonStr))();
        },
        getData: function (word, parent, callback) { //数据获取方法
            if (!word) return;
          //  debugger;
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/Home/SetJs',
                data: "keyword=" + word ,
                async: false,
                success: function (json) {
                    //debugger;
                    if (json.count > 0) {
                        var resultData = json.result;
                        callback(parent, resultData);
                    }
                },
                error: function () {

                }
            });

        }
    });



</script>