
@{
    Layout = null;
}

<div class="header-gray">
    <div class="logo-register-btn" style="border: none;margin-top: 6px;">
        <a class="btn" href="/MemberCenter/Login" style="color: #ff4200;">登录</a> | <a class="btn" href="/MemberCenter/Register" style="color: #ff4200;">注册</a>
    </div>
    <div class="navBox">
        <ul class="nav">
            <li><a href="/Home/home" target="_blank">首页</a></li>
            <li><a href="/Price/Index">价格走势</a></li><!--- class="active"--->
            <li><a href="/PhysicalProducts/Index" target="_blank">高级搜索</a></li>
            <li><a href="/Replace/Index" target="_blank">材料替换</a></li>
            <li><a href="/Contrast/Index" target="_blank">物性对比</a></li>
            <li><a href="case/product.html" target="_blank">应用案例</a></li>
        </ul>
    </div>
</div>

