
@{
    Layout = null;
}

<div class="header-gray">
    <div class="logo-register-btn" style="border: none;margin-top: 6px;">
        <span id="isLogin_0"> <a class="btn" href="/MemberCenter/Login" style="color: #ff4200;">登录</a> | <a class="btn" href="/MemberCenter/Register" style="color: #ff4200;">注册</a></span>
        <span id="isLogin_1"><a class="btn" href="/MemberCenter/Index" style="color: #ff4200;">会员中心</a></span>
    </div>
    <div class="navBox">
        <ul class="nav">
            <li><a href="/Home/" target="_blank">首页</a></li>
            <li><a href="/Price/Index">价格走势</a></li><!--- class="active"--->
            <li><a href="/PhysicalProducts/Index" target="_blank">高级搜索</a></li>
            <li><a href="/Replace/Index" target="_blank">材料替换</a></li>
            <li><a href="/Contrast/Index" target="_blank">物性对比</a></li>
            <li><a href="javascript:void(0)" onclick="alert('暂未开放，敬请等待！');">应用案例</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    var isval = '0';
        if ('@(Request.Cookies["AccountData"] != null)'=="True") {
            isval = "1";
        }
        if (isval == "1") {
            $("#isLogin_0").remove();
        }
        else {
            $("#isLogin_1").remove();
        }
</script>