
@{
    Layout = "~/Views/Shared/MemberCenterShared.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <script src="~/Content/js/echarts.min.js"></script>

    <title>个人中心</title>
</head>
<body>

        <div class="tpl-content-wrapper">
            <div style="background-color: #fff;">
                <div class="tpl-content-scope">
                    <div class="note note-info">
                        <h2><strong>塑蚁网</strong><strong>您可信赖的全球原料和配料搜索引擎</strong><strong> </strong></h2>
                        <h3>
                            无痛地找到您需要的材料

                            免费注册以访问我们的所有材料数据并解锁由世界级专家策划的内容


                            从最详尽的材料和成分数据库中搜索，比较和选择材料（350,000多个数据表）

                            访问专家策划的资源，以更好地选择产品，包括起点配方，材料选择指南，文章，案例研究，白皮书，在线课程，更多

                            通过我们的免费新闻通讯和每日更新的网站供稿，及时了解有关产品，供应商，技术，趋势和重要活动 的最新新闻
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="am-u-md-6 am-u-sm-12 row-mb">
                        <div class="tpl-portlet">
                            <div class="tpl-portlet-title">
                                <div class="tpl-caption font-green ">
                                    <i class="am-icon-cloud-download"></i>
                                    <span> 产品型号价格走势</span>
                                </div>
                                <div class="actions">
                                    <ul class="actions-btn">
                                        <li class="red-on">昨天</li>
                                        <li class="green">前天</li>
                                        <li class="blue">本周</li>
                                    </ul>
                                </div>
                            </div>

                            <!--此部分数据请在 js文件夹下中的 app.js 中的 “百度图表A” 处修改数据 插件使用的是 百度echarts-->
                            <div class="tpl-echarts" id="tpl-echarts-A">

                            </div>
                        </div>
                    </div>
                    <div class="am-u-md-6 am-u-sm-12 row-mb">
                        <div class="tpl-portlet">
                            <div class="tpl-portlet-title">
                                <div class="tpl-caption font-red ">
                                    <i class="am-icon-bar-chart"></i>定制型号价格
                                </div>
                                <div class="actions">
                                    <ul class="actions-btn">
                                        <li class="purple-on">昨天</li>
                                        <li class="green">前天</li>
                                        <li class="dark">本周</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tpl-scrollable">
                                <div class="number-stats"></div>

                                <table class="am-table tpl-table">
                                    <thead>
                                        <tr class="tpl-table-uppercase">
                                            <th>人员</th>
                                            <th>&nbsp;</th>
                                            <th>次数</th>
                                            <th>效率</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="~/Content/img/user01.png" alt="" class="user-pic">
                                                <a class="user-name" href="#">ABS 台湾奇美 PA-757</a>
                                            </td>
                                            <td>￥3213</td>
                                            <td>65</td>
                                            <td class="font-green bold">26%</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="~/Content/img/user02.png" alt="" class="user-pic">
                                                <a class="user-name" href="###">ABS 台湾台化 AG15A1</a>
                                            </td>
                                            <td>￥2635</td>
                                            <td>52</td>
                                            <td class="font-green bold">32%</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="~/Content/img/user03.png" alt="" class="user-pic">
                                                <a class="user-name" href="###">ABS	镇江奇美	D-190</a>
                                            </td>
                                            <td>￥1267</td>
                                            <td>65</td>
                                            <td class="font-green bold">51%</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="~/Content/img/user04.png" alt="" class="user-pic">
                                                <a class="user-name" href="###">ABS	韩国LG	AF-342 BK</a>
                                            </td>
                                            <td>￥657</td>
                                            <td>65</td>
                                            <td class="font-green bold">73%</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="~/Content/img/user05.png" alt="" class="user-pic">
                                                <a class="user-name" href="###">PA66	美国杜邦	101L NC010</a>
                                            </td>
                                            <td>￥3907</td>
                                            <td>65</td>
                                            <td class="font-green bold">12%</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="~/Content/img/user06.png" alt="" class="user-pic">
                                                <a class="user-name" href="###">PA66	美国杜邦	FE5105-BK083</a>
                                            </td>
                                            <td>￥900</td>
                                            <td>65</td>
                                            <td class="font-green bold">10%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="am-u-md-6 am-u-sm-12 row-mb">

                        <div class="tpl-portlet">
                            <div class="tpl-portlet-title">
                                <div class="tpl-caption font-green ">
                                    物性浏览记录<span class="caption-helper"></span>
                                </div>
                                <div class="tpl-portlet-input">
                                    <div class="portlet-input input-small input-inline">
                                        <div class="input-icon right">
                                            <i class="am-icon-search"></i>
                                            <input type="text" class="form-control form-control-solid" placeholder="搜索...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="wrapper" class="wrapper">
                                <div id="scroller" class="scroller">
                                    <ul class="tpl-task-list">
                                        <li>
                                            <div class="task-checkbox">
                                                <input type="hidden" value="1" name="test">
                                                <input type="checkbox" class="liChild" value="2" name="test">
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> Amaze UI Icon 组件目前使用了 Font Awesome </span>
                                                <span class="label label-sm label-success">技术部</span>
                                                <span class="task-bell">
                                                    <i class="am-icon-bell-o"></i>
                                                </span>
                                            </div>
                                            <div class="task-config">
                                                <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                    <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                        <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                    </a>
                                                    <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-check"></i> 保存
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-trash-o"></i> 删除
                                                            </a>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="task-checkbox">
                                                <input type="hidden" value="1" name="test">
                                                <input type="checkbox" class="liChild" value="2" name="test">
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> 在 data-am-dropdown 里指定要适应到的元素，下拉内容的宽度会设置为该元素的宽度。当然可以直接在 CSS 里设置下拉内容的宽度。 </span>
                                                <span class="label label-sm label-danger">运营</span>

                                            </div>
                                            <div class="task-config">
                                                <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                    <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                        <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                    </a>
                                                    <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-check"></i> 保存
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-trash-o"></i> 删除
                                                            </a>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="task-checkbox">
                                                <input type="hidden" value="1" name="test">
                                                <input type="checkbox" class="liChild" value="2" name="test">
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> 使用 LESS： 通过设置变量 fa-font-path 覆盖默认的值，如 fa-font-path: "../fonts";。这个变量定义在 icon.less 里。 </span>
                                                <span class="label label-sm label-warning">市场部</span>

                                            </div>
                                            <div class="task-config">
                                                <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                    <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                        <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                    </a>
                                                    <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-check"></i> 保存
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-trash-o"></i> 删除
                                                            </a>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="task-checkbox">
                                                <input type="hidden" value="1" name="test">
                                                <input type="checkbox" class="liChild" value="2" name="test">
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> 添加 .am-btn-group-justify class 让按钮组里的按钮平均分布，填满容器宽度。 </span>
                                                <span class="label label-sm label-default">已废弃</span>

                                            </div>
                                            <div class="task-config">
                                                <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                    <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                        <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                    </a>
                                                    <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-check"></i> 保存
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-trash-o"></i> 删除
                                                            </a>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="task-checkbox">
                                                <input type="hidden" value="1" name="test">
                                                <input type="checkbox" class="liChild" value="2" name="test">
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> 按照示例组织好 HTML 结构（不加 data-am-dropdown 属性），然后通过 JS 来调用。 </span>
                                                <span class="label label-sm label-success">技术部</span>
                                                <span class="task-bell">
                                                    <i class="am-icon-bell-o"></i>
                                                </span>
                                            </div>
                                            <div class="task-config">
                                                <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                    <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                        <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                    </a>
                                                    <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-check"></i> 保存
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-trash-o"></i> 删除
                                                            </a>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </li>


                                        <li>
                                            <div class="task-checkbox">
                                                <input type="hidden" value="1" name="test">
                                                <input type="checkbox" class="liChild" value="2" name="test">
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> 添加 .am-btn-group-justify class 让按钮组里的按钮平均分布，填满容器宽度。 </span>
                                                <span class="label label-sm label-default">已废弃</span>

                                            </div>
                                            <div class="task-config">
                                                <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                    <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                        <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                    </a>
                                                    <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-check"></i> 保存
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-trash-o"></i> 删除
                                                            </a>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="task-checkbox">
                                                <input type="hidden" value="1" name="test">
                                                <input type="checkbox" class="liChild" value="2" name="test">
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> 使用 LESS： 通过设置变量 fa-font-path 覆盖默认的值，如 fa-font-path: "../fonts";。这个变量定义在 icon.less 里。 </span>
                                                <span class="label label-sm label-warning">市场部</span>

                                            </div>
                                            <div class="task-config">
                                                <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                    <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                        <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                    </a>
                                                    <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-check"></i> 保存
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-trash-o"></i> 删除
                                                            </a>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="task-checkbox">
                                                <input type="hidden" value="1" name="test">
                                                <input type="checkbox" class="liChild" value="2" name="test">
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> 添加 .am-btn-group-justify class 让按钮组里的按钮平均分布，填满容器宽度。 </span>
                                                <span class="label label-sm label-default">已废弃</span>

                                            </div>
                                            <div class="task-config">
                                                <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                    <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                        <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                    </a>
                                                    <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-check"></i> 保存
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-trash-o"></i> 删除
                                                            </a>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="task-checkbox">
                                                <input type="hidden" value="1" name="test">
                                                <input type="checkbox" class="liChild" value="2" name="test">
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> 按照示例组织好 HTML 结构（不加 data-am-dropdown 属性），然后通过 JS 来调用。 </span>
                                                <span class="label label-sm label-success">技术部</span>
                                                <span class="task-bell">
                                                    <i class="am-icon-bell-o"></i>
                                                </span>
                                            </div>
                                            <div class="task-config">
                                                <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                    <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                        <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                    </a>
                                                    <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-check"></i> 保存
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="am-icon-trash-o"></i> 删除
                                                            </a>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-md-6 am-u-sm-12 row-mb">
                        <div class="tpl-portlet">
                            <div class="tpl-portlet-title">
                                <div class="tpl-caption font-green ">
                                    <span>替换对比记录</span>
                                </div>

                            </div>

                            <div class="am-tabs tpl-index-tabs" data-am-tabs>
                                <ul class="am-tabs-nav am-nav am-nav-tabs">
                                    <li class="am-active"><a href="#tab1">替换</a></li>
                                    <li><a href="#tab2">比较</a></li>
                                </ul>

                                <div class="am-tabs-bd">
                                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                                        <div id="wrapperA" class="wrapper">
                                            <div id="scroller" class="scroller">
                                                <ul class="tpl-task-list tpl-task-remind">
                                                    <li>
                                                        <div class="cosB">
                                                            12分钟前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco">
                                                                <i class="am-icon-bell-o"></i>
                                                            </span>

                                                            <span>
                                                                注意：Chrome 和 Firefox 下， display: inline-block; 或 display: block; 的元素才会应用旋转动画。<span class="tpl-label-info">
                                                                    提取文件
                                                                    <i class="am-icon-share"></i>
                                                                </span>
                                                            </span>
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <div class="cosB">
                                                            36分钟前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco label-danger">
                                                                <i class="am-icon-bolt"></i>
                                                            </span>

                                                            <span> FontAwesome 在绘制图标的时候不同图标宽度有差异， 添加 .am-icon-fw 将图标设置为固定的宽度，解决宽度不一致问题（v2.3 新增）。</span>
                                                        </div>

                                                    </li>

                                                    <li>
                                                        <div class="cosB">
                                                            2小时前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco label-info">
                                                                <i class="am-icon-bullhorn"></i>
                                                            </span>

                                                            <span> 使用 flexbox 实现，只兼容 IE 10+ 及其他现代浏览器。</span>
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <div class="cosB">
                                                            1天前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco label-warning">
                                                                <i class="am-icon-plus"></i>
                                                            </span>

                                                            <span> 部分用户反应在过长的 Tabs 中滚动页面时会意外触发 Tab 切换事件，用户可以选择禁用触控操作。</span>
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <div class="cosB">
                                                            12分钟前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco">
                                                                <i class="am-icon-bell-o"></i>
                                                            </span>

                                                            <span>
                                                                注意：Chrome 和 Firefox 下， display: inline-block; 或 display: block; 的元素才会应用旋转动画。<span class="tpl-label-info">
                                                                    提取文件
                                                                    <i class="am-icon-share"></i>
                                                                </span>
                                                            </span>
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <div class="cosB">
                                                            36分钟前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco label-danger">
                                                                <i class="am-icon-bolt"></i>
                                                            </span>

                                                            <span> FontAwesome 在绘制图标的时候不同图标宽度有差异， 添加 .am-icon-fw 将图标设置为固定的宽度，解决宽度不一致问题（v2.3 新增）。</span>
                                                        </div>

                                                    </li>

                                                    <li>
                                                        <div class="cosB">
                                                            2小时前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco label-info">
                                                                <i class="am-icon-bullhorn"></i>
                                                            </span>

                                                            <span> 使用 flexbox 实现，只兼容 IE 10+ 及其他现代浏览器。</span>
                                                        </div>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-tab-panel am-fade" id="tab2">
                                        <div id="wrapperB" class="wrapper">
                                            <div id="scroller" class="scroller">
                                                <ul class="tpl-task-list tpl-task-remind">
                                                    <li>
                                                        <div class="cosB">
                                                            12分钟前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco">
                                                                <i class="am-icon-bell-o"></i>
                                                            </span>

                                                            <span>
                                                                注意：Chrome 和 Firefox 下， display: inline-block; 或 display: block; 的元素才会应用旋转动画。<span class="tpl-label-info">
                                                                    提取文件
                                                                    <i class="am-icon-share"></i>
                                                                </span>
                                                            </span>
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <div class="cosB">
                                                            36分钟前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco label-danger">
                                                                <i class="am-icon-bolt"></i>
                                                            </span>

                                                            <span> FontAwesome 在绘制图标的时候不同图标宽度有差异， 添加 .am-icon-fw 将图标设置为固定的宽度，解决宽度不一致问题（v2.3 新增）。</span>
                                                        </div>

                                                    </li>

                                                    <li>
                                                        <div class="cosB">
                                                            2小时前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco label-info">
                                                                <i class="am-icon-bullhorn"></i>
                                                            </span>

                                                            <span> 使用 flexbox 实现，只兼容 IE 10+ 及其他现代浏览器。</span>
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <div class="cosB">
                                                            1天前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco label-warning">
                                                                <i class="am-icon-plus"></i>
                                                            </span>

                                                            <span> 部分用户反应在过长的 Tabs 中滚动页面时会意外触发 Tab 切换事件，用户可以选择禁用触控操作。</span>
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <div class="cosB">
                                                            12分钟前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco">
                                                                <i class="am-icon-bell-o"></i>
                                                            </span>

                                                            <span>
                                                                注意：Chrome 和 Firefox 下， display: inline-block; 或 display: block; 的元素才会应用旋转动画。<span class="tpl-label-info">
                                                                    提取文件
                                                                    <i class="am-icon-share"></i>
                                                                </span>
                                                            </span>
                                                        </div>

                                                    </li>
                                                    <li>
                                                        <div class="cosB">
                                                            36分钟前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco label-danger">
                                                                <i class="am-icon-bolt"></i>
                                                            </span>

                                                            <span> FontAwesome 在绘制图标的时候不同图标宽度有差异， 添加 .am-icon-fw 将图标设置为固定的宽度，解决宽度不一致问题（v2.3 新增）。</span>
                                                        </div>

                                                    </li>

                                                    <li>
                                                        <div class="cosB">
                                                            2小时前
                                                        </div>
                                                        <div class="cosA">
                                                            <span class="cosIco label-info">
                                                                <i class="am-icon-bullhorn"></i>
                                                            </span>

                                                            <span> 使用 flexbox 实现，只兼容 IE 10+ 及其他现代浏览器。</span>
                                                        </div>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    <script type="text/javascript">
        var dom = document.getElementById("tpl-echarts-A");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            title: {
                text: '堆叠区域图'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            legend: {
                data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '邮件营销',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: '联盟广告',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: '视频广告',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: '直接访问',
                    type: 'line',
                    stack: '总量',
                    areaStyle: { normal: {} },
                    data: [320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name: '搜索引擎',
                    type: 'line',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'top'
                        }
                    },
                    areaStyle: { normal: {} },
                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                }
            ]
        };
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
</body>
</html>
