@{ViewBag.Title = "用户登录"; }
<div class="header-white" style="padding: 30px 50px;height: auto;">
    <div class="logo">
        <a href="/">  <img src="/Content/img/logo.png" width="88" alt=""></a>
    </div>
    <div>
        <span style="display: inline-block; font-size: 18px;position: absolute;top: 70px;right: 30px;">您可信赖的全球原料和配料搜索引擎</span>
    </div>
</div>
<div class="login-bg">
    <div class="login-box">
        <p class="login-title">帐号密码登录</p>
        <div>
            <span class="fa fa-user login-icon"></span><input type="text" class="login-input" style="text-align: left;" placeholder="请输入帐号">
        </div>
        <div style="margin-top: 15px;">
            <span class="fa fa-lock login-icon"></span><input type="password" class="login-input" style="text-align: left;" placeholder="请输入密码">
        </div>
        <div style="width: 100%;margin-top: 10px;">
            <button class="search-btn-screem">登录</button>
        </div>
        <div style="text-align: right;font-size: 14px;margin-top: 10px;">
            <a href="/MemberCenter/Login" style="color: #000;margin-right: 15px;text-decoration: none;"><span class="fa fa-qq" style="color: orangered;"></span>QQ登录</a>
            <a href="/MemberCenter/Login" style="color: #000;text-decoration: none;margin-right: 15px;"><span class="fa fa-wechat" style="color: green;"></span>微信登录</a>
            <a href="/MemberCenter/Register" style="color: #0093dd;margin-right: 15px;">忘记密码?</a><a href="/MemberCenter/Register" style="color: #0093dd;">免费注册</a>
        </div>
    </div>
</div>
