@{
    ViewBag.Title = "物料收藏";
    Layout = "~/Views/Shared/MemberOtherShared.cshtml";
}

<link href="~/Content/css/PaginationCenter.css" rel="stylesheet" />

<div class="tpl-content-wrapper">
    <div class="tpl-content-wrapper-bg">
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li>我的物性</li>
            <li class="am-active">物性收藏</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption"><span class="am-icon-star" style="margin-right: 3px;"></span>物性收藏列表</div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tpl-block" style="padding-top: 0;">
                <div class="am-g" style="border-bottom: 1px dashed #ddd;padding-top: 8px;padding-bottom: 8px;">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar" style="margin-top: 2px;">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-warning" style="margin-right: 5px;"><span class="am-icon-archive"></span> 对比</button>
                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删<span class="am-input-group am-input-group-sm"></span>除</button>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-form-group" style="margin-bottom: 0;float: right;">
                            <select data-am-selected="{btnSize: 'sm'}">
                                <option value="option1">所有类别</option>
                                <option value="option2">IT业界</option>
                                <option value="option3">数码产品</option>
                                <option value="option3">笔记本电脑</option>
                                <option value="option3">平板电脑</option>
                                <option value="option3">只能手机</option>
                                <option value="option3">超极本</option>
                            </select>
                            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search am-btn-sm" type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;" class="table-check"><input name="checkAll" type="checkbox" value="" /></th>
                                        <th style="width: 5%;" class="table-id">ID</th>
                                        <th style="width: 20%;" class="table-title">型号</th>
                                        <th style="width: 10%;" class="table-author am-hide-sm-only">类别</th>
                                        <th style="width: 10%;" class="table-date am-hide-sm-only"> 产地</th>
                                        <th style="width: 15%;" class="table-date am-hide-sm-only"> 用途</th>
                                        <th style="width: 15%;" class="table-date am-hide-sm-only"> 特性</th>
                                        <th style="width: 12%;" class="table-date am-hide-sm-only"> 日期时间</th>
                                        <th style="width: 8%;" class="table-set">操作</th>
                                    </tr>
                                </thead>
                                <tbody id="DataList"></tbody>
                            </table>
                            <div class="am-cf">
                                <div class="am-fr black2" id="Pagination">

                                </div>
                            </div>
                            <hr>

                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var pagesize = 10;
    var rowcount = 0;
    var datas = "";


    $().ready(function () {
        InitData(0);
    });


    function InitData(pageindx) {
        var tbodyui = "";
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: '/MemberCenter/GetMaterialCollection',
            data: "pageindex=" + (pageindx + 1) + "&pagesize=" + pagesize + "" + datas,
            async: false,
            success: function (json) {
                //debugger;
                var productData = json.data;
                rowcount = json.totalCount;
                var columnscount = 0;
                if (rowcount != 0) {
                    $.each(productData, function (i, n) {
                        columnscount++;
                        tbodyui += "<tr>";
                        tbodyui += "<td><input name=\"checkList\" type=\"checkbox\" value=\"" + n.Id + "\"></td >";
                        tbodyui += "<td>" + columnscount + "</td>";
                        tbodyui += "<td>" + n.ProModel + "</td>";
                        tbodyui += "<td class=\"am-hide-sm-only\">" + n.Name + "</td>";
                        tbodyui += "<td class=\"am-hide-sm-only\">" + n.ProModel + "</td>";
                        tbodyui += "<td class=\"am-hide-sm-only\">" + n.ProUse + "</td>";
                        tbodyui += "<td class=\"am-hide-sm-only\">" + n.characteristic + "</td>";
                        tbodyui += "<td class=\"am-hide-sm-only\">" + ChangeDateFormat(n.CreateDate) + "</td>";
                        tbodyui += "<td >";
                        tbodyui += "<a href=\"javascript:void(0);\" class=\"am-text-danger\" style=\"display: inline-block;\"><span class=\"am-icon-trash-o\"></span>删除</a>";
                        tbodyui += "</td >";
                        tbodyui += "</tr >";
                    });
                }
                if (tbodyui == "")
                    tbodyui = "<div  style=\"height:50px; color:red; text-align:center;line-height:50px;\">暂无信息！</div>";
                $("#DataList").html(tbodyui);


            },
            error: function () { alert("数据请求异常") }
        });

        $("#Pagination").pagination(rowcount, {
            callback: pageselectCallback,
            prev_text: '上一页',
            next_text: '下一页',
            items_per_page: pagesize,
            num_display_entries: 8,
            current_page: pageindx,
            num_edge_entries: 1
        });
        //$("html, body").stop().animate({ scrollTop: $("#records").offset().top - 200 }, 400);

    }
    

    function pageselectCallback(page_id, jq) {

        InitData(page_id);
    }

    ///多选
    $("input[name='checkAll']").click(function () {
        if ($(this).is(":checked")) {
            $.each($("input[name='checkList']"), function (index, item) {
                $(this).prop("checked", true);
            })
        }
        else {
            $.each($("input[name='checkList']"), function (index, item) {
                $(this).prop("checked", false);
            })
        }
    })


    //删除
    

</script>