@{
    ViewBag.Title = "塑料和弹性体-替换列表";
    var company = (ViewBag.company) as System.Data.DataTable;
}
<link href="~/Content/css/Pagination.css" rel="stylesheet" />
<script src="~/Content/layui/lay/modules/layer.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.pagination.js" type="text/javascript"></script>
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<style type="text/css">
    .btn {
        border-radius: 0px !important;
    }
    .none {
        display: none !important;
    }
</style>
@Html.Partial("~/Views/Public/SubPageNav.cshtml")
@{
    Html.RenderAction("PubSearch", "Public");
}



<div class="search-item-box">

    <Div style="font-size:26px; font-weight:bold; color:#333;  text-align: center;">可替代 ( @ViewBag.ProductName ) 的牌号列表</Div>

    <div class="search-item">

        <div class="search-item-content">
            <ul class="search-item-content">
                <li style="font-size:16px; font-weight:bold; color:#F60">是否过滤掉同 SINDUSTRISPP 品牌下的替代物:</li>
                <li><label><input name="isFiter" type="radio" value="1">过滤</label></li>
                <li><label><input name="isFiter" type="radio" value="0">不过滤</label></li>
                <li> <!--<a class="btn btn-orange btn-sm">用户自定义权重</a>--><button class="layui-btn layui-btn-sm" onclick="window.location.href='/Replace/ReplaceGetList?Rpt=@ViewBag.ProGuid'">自定义权重</button></li>
            </ul>
        </div>

    </div>
    <div class="search-item">
        <div class="search-item-type">生产厂商：</div>
        <div class="search-item-content3" style="height: auto;">
            <ul id="CoompanyList" >
                
               
            </ul>
        </div>
        <!--∧-->
        <div class="search-item-btn">展开 ∨</div>
    </div>


    <p>  <hr style="color:#F60"></p>
</div>

<div class="search-content-box">
    @*<div style=" display:inline; padding-left:30px; "><button class="layui-btn layui-btn-danger">物性对比</button></div>
        <div style=" display:inline; "><button class="layui-btn">添加到收藏夹</button></div>*@
    <div style=" display:inline;float:right; margin-right:20px ">
        共搜索到<span style="color: red;" id="records"></span>条相关商品信息
    </div>
    <div class="search-content">
        <table>
            <thead>
                <tr>
                    <th width="10%">选取</th>
                    <th width="15%">牌号</th>
                    <th width="15%">厂商</th>
                    <th width="15%">产品特性</th>
                    <th width="20%">用途</th>
                    <th width="15%">相似度</th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody id="DataList"></tbody>
        </table>
    </div>
</div>
<div class="black2" id="Pagination">

</div>

@Html.Partial("~/Views/Public/Bottom.cshtml")
<script type="text/javascript">
    ///查询数据
    var pagesize = 20;
    var rowcount = 0;
    var datas = "";
    var page_indx = 0;
    var guidstr = guid();
    var isLink = "0";
    var iscompany = "0";
    var proid = "@ViewBag.ProGuid";
    $().ready(function () {
        $(".navBox").find(".nav").find("li").eq(3).children("a").addClass("active");
        guidstr = guid();
        SubmitComparison(0);
    });

    ///提交对比
    function SubmitComparison(pageindx) {
        page_indx = pageindx;
        var chaeckvalue = "";
        var tbodyui = "";
        var com_pany = "";
        var isinput = true;
        if (proid == "" ) {
            layer.alert("请先选择产品和参数!");
           // layer.msg('请先选择产品和参数!', { icon: 5 });
            return false;
        }
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: '/Replace/ProductReplaceList',
            data: "pageindex=" + (pageindx + 1) + "&pagesize=" + pagesize + "&guidstr=" + guidstr + "&proid=" + proid + "&isLink=" + isLink  + datas,
            async: false,
            success: function (json) {
              //  debugger;
                if (json.msg == "") {
                    var productData = json.data;
                    rowcount = json.count;
                    $("#records").html(rowcount);
                    if (rowcount != 0 && productData != "") {
                        $.each(JSON.parse(productData), function (i, n) {
                            //alert(n);
                            tbodyui += "<tr style='height:30px;line-height:30px;'>";
                            tbodyui += "<td><input type=\"checkbox\" name=\"checkbox\" id=\"checkbox_" + n.TargetGuid +"\"></td>";
                            tbodyui += "<td class='xiangshidu'><a href='/PhysicalProducts/Detail/" + n.TargetGuid + ".html' target=\"_blank\">" + n.ProModel + "</a></td>";
                            tbodyui += "<td>" + n.PlaceOrigin + "</td>";
                            tbodyui += "<td>" + n.characteristic + "</td>";
                            tbodyui += "<td>" + n.ProUse + "</td>";
                            tbodyui += "<td><div class=\"layui-progress layui-progress-big\" lay-showpercent=\"true\"><div class=\"layui-progress-bar\" lay-percent=\"" + parseInt(n.AlikePercent) + "%\" style=\"width:" + parseInt(n.AlikePercent) + "%;\"><span class=\"layui-progress-text\">" + parseFloat(n.AlikePercent).toFixed(2) + "%</span></div></div></td>";
                            tbodyui += "<td><a class=\"btn btn-orange btn-sm\" onClick=\"LookDetail('" + proid + "','" + n.TargetGuid+"');\">查看对比详情</a></td>";//<button class=\"layui-btn layui-btn-normal\" onClick=\"window.location.href='/PhysicalProducts/Detail/" + n.ProductId + ".html'\">相识度详情</button><button class=\"layui-btn layui-btn-normal\">加入收藏</button>
                            tbodyui += "</tr>";
                        });
                    }
                    else {
                        tbodyui += "<tr>";
                        tbodyui += "<td colspan=\"7\" align=\"center\" class='red'>未找到数据</td>";
                        tbodyui += "</tr>";
                    }
                    $("#DataList").html(tbodyui);
                    var comcount = 0;
                    if (json.companys != "" && iscompany=="0") {
                        
                        com_pany += "<li class=\"active\" id=\"NameCompany_0\" onclick=\"selectComapny('0','NameCompany_0')\" data-guid=\"0\" data-value=\"0\">全部</li>";
                        $.each(JSON.parse(json.companys), function (a, b) {
                            comcount++;
                            com_pany += " <li data-guid=\"1\" id=\"NameCompany_" + comcount + "\" onclick=\"selectComapny('" + b.PlaceOrigin+"','NameCompany_" + comcount +"')\" data-value=\"" + b.PlaceOrigin+"\"  ";
                            if (comcount > 12) {
                                com_pany += "name='liHide' class='none'";
                            }
                            com_pany += " >" + b.PlaceOrigin+"</li>";
                        })
                        $("#CoompanyList").html(com_pany);

                        
                    }


                    



                }


                else {
                    layer.msg(json.msg, { icon: 5 });

                }


            },
            error: function () { layer.msg('Load the data failure!', { icon: 5 }); }
        });

        $("#Pagination").pagination(rowcount, {
            callback: pageselectCallback,
            prev_text: '上一页',
            next_text: '下一页',
            items_per_page: pagesize,
            num_display_entries: 8,
            current_page: pageindx,
            num_edge_entries: 1
        });
        $("html, body").stop().animate({ scrollTop: $("#records").offset().top - 200 }, 400);
        
    }

    function pageselectCallback(page_id, jq) {
        isLink = "1";
        SubmitComparison(page_id);
    }


    function selectComapny(objval, IdName) {
        iscompany = "1";
        var thisval = objval;
        if (thisval == "0") {
            $.each($("#CoompanyList").find("li"), function (index, item) {
                $(this).removeClass("active");
            })
            $("#CoompanyList").find("li").eq(0).addClass("active");//替换所有
        }
        else {
            $("#CoompanyList").find("li").eq(0).removeClass("active");
            $("#" + IdName).addClass("active");
        }
        var companys = "";
        $.each($("#CoompanyList").find("li"), function (index, item) {
            if ($(this).attr("data-value") != "0" && $(this).hasClass("active")) {
                companys += $(this).attr("data-value") + ";";
            }
        })
        // alert(companys);
        if (companys != "") {
            companys = companys.substring(0, companys.length - 1);
        }
        isLink = "1";
        datas = "&Companys=" + companys;
        SubmitComparison(0);
    }



    //$("#CoompanyList").find("li").click(function () {
    //    var thisval = $(this).attr("data-guid");
    //    if (thisval == "0") {
    //        $.each($("#CoompanyList").find("li"), function (index, item) {
    //            $(this).removeClass("active");
    //        })
    //        $(this).addClass("active");//替换所有
    //    }
    //    else {
    //        $("#CoompanyList").find("li").eq(0).removeClass("active");
    //        $(this).addClass("active");
    //    }

    //    var companys = "";
    //    $.each($("#CoompanyList").find("li"), function (index, item) {
    //        if ($(this).attr("data-value") != "0" && $(this).hasClass("active")) {
    //            companys += $(this).attr("data-value") + ";";
    //        }
    //    })
    //    // alert(companys);
    //    if (companys != "") {
    //        companys = companys.substring(0, companys.length - 1);
    //    }
    //    isLink = "1";
    //    datas = "&Companys=" + companys;
    //    SubmitComparison(0)
    //})
    //点击筛选
    //data-guid="0" data-value="0"
    

    //是否过滤
    $("input[name='isFiter']").click(function () {
        //alert();
        var idx = $(this).val();
        isLink = "1";
        iscompany = "1";
        datas = "&isfilter=" + idx;
        SubmitComparison(0)
    })

    function LookDetail(proid, ven) {
        layer.open({
            type: 2,
            title: '对比详情',
            shadeClose: true,
            shade: 0.8,
            maxmin: true,
            area: ['90%', '90%'],
            content: '/Replace/More?ProductID=' + proid + "&Ven=" + ven 
        });

    }

    $(".search-item-btn").click(function () {
        if ($("li[name='liHide']").hasClass("none")) {
            $.each($("li[name='liHide']"), function (index, item) {
                $(this).removeClass("none");
            })
            $(".search-item-btn").html("隐藏 ∧");
        }
        else {
            $.each($("li[name='liHide']"), function (index, item) {
                $(this).addClass("none");
            })
            $(".search-item-btn").html("展开 ∨");
        }
    })

</script>

