@{ViewBag.Title = "塑料和弹性体"; }
@{var hotProducts = ViewBag.HotList == null ? (new List<PlasModel.ProductViewModel>()) : (ViewBag.HotList as List<PlasModel.ProductViewModel>);}
<style type="text/css">
    .item2 {
        display: inline-block;
        width: 30%;
        /*height: 220px;*/
        vertical-align: top;
        margin: 30px 30px 0px 10px;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 10px 20px;
        box-sizing: border-box;
    }

        .item2 > .title {
            font-size: 18px;
            letter-spacing: 2px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        .item2 > .text-gray {
            padding: 10px 0;
            font-size: 14px;
            line-height: 25px;
            min-height: 120px;
        }

    .index-more-btn {
        padding: 10px 15px 0;
        box-sizing: border-box;
        text-align: right;
        border-top: 1px solid #ddd;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    .item-box > .item {
        height: 210px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 2.3%;
        box-sizing: border-box;
        background-color: #fff;
        border-left: 5px solid #eaeaea;
        border-right: 5px solid #eaeaea;
    }

    .item > .title {
        font-weight: bold;
    }

    .item > .text-gray {
        position: absolute;
        width: 92%;
        text-align: center;
    }

    .search-common-item {
        font-size: 12px;
        padding: 4px 10px;
        color: #777;
    }

</style>
<script type="text/javascript" src="/Content/src/js/search-suggest.js"></script>
@Html.Partial("~/Views/Public/Header.cshtml")
<link href="~/Content/css/iconfont/iconfont.css" rel="stylesheet" />
<div class="header-orange">
    <div class="logo">
        <a href="/"><img src="/Content/img/logo-withe.png" alt="塑蚁网-全国最精准永久免费塑胶和助剂材料物性搜索网站" title="塑蚁网-全国最精准永久免费塑胶和助剂材料物性搜索网站"></a>
    </div>
    <div class="header-search-box" style="margin-top: 28px;">
        <input type="text" class="search-input-orange" id="search_input_top" placeholder="请输入任意塑料类型、型号、厂家、性能、用途进行智能搜索"><span onclick="onSearch_Top_select(0, $('#search_input_top').val());" class="fa fa-search search-icon text-orange">搜索</span>
        <div class="common-models common-models-suliao-index">
            常用型号：
            @foreach (var item in hotProducts)
            {
                <span class="item"><a href="/PhysicalProducts/Detail/@(item.ProductGuid).html" style="color:#fff;" target="_blank">@item.ProModel</a></span>
            }
        </div>
    </div>
</div>
<div class="meal-cut">
    <ul>

        <li>
            <a href="/Price/Index">
                <span>
                    <i class="fa fa-service fa-line-chart">
                    </i>
                    <h3>价格走势</h3>
                    <p>种类 型号 厂家 用途 特性 熔脂 硬度等智能搜索</p>
                    <b></b>
                    <font>
                        <!-- <a href="/Price/Index">查看详情</a>-->
                    </font>
                </span>
            </a>
        </li>

        <li>
            <a href="/PhysicalProducts/Index">
                <span>
                    <i class="fa fa-search"></i>
                    <h3>高级搜索</h3>
                    <p>各类多条件综合搜索</p>
                    <b></b>
                    <font>
                        <!--  <a href="/PhysicalProducts/Index">查看详情</a>-->
                    </font>
                </span>
            </a>
        </li>

        <li>
            <a href="/Replace/Index">
                <span>
                    <i class="fa fa-compress"></i>
                    <h3>材料替换</h3>
                    <p>查找综合性能最接近的型号</p>
                    <b></b>
                    <font>
                        <!--  <a href="/Replace/Index">查看详情</a>-->
                    </font>
                </span>
            </a>
        </li>

        <li>
            <a href="/Contrast/Index">
                <span>
                    <i class="fa fa-sign-language"></i>
                    <h3>物性对比</h3>
                    <p>各种类型号参数对比</p>
                    <b></b>
                    <font>
                        <!--   <a href="/Contrast/Index">查看详情</a>-->
                    </font>
                </span>
            </a>
        </li>

        <li>
            <a href="javascript:void(0)" onclick="alert('暂未开放，敬请期待！');">
                <span>
                    <i class="fa fa-window-restore"></i>
                    <h3>应用案例</h3>
                    <p>使用案例查看</p>
                    <b></b>
                    <font>
                        <!--    <a href="javascript:void(0)" onclick="alert('暂未开放，敬请期待！');">查看详情</a>-->
                    </font>
                </span>
            </a>
        </li>

    </ul>
</div>


<div class="info-container">
    <div class="info-container-list clearfix">
        <div class="info-listItem" style="margin-left:10px;">
            <div class="info-listItem-title">通用塑料频道</div>
            <dl class="info-listItem-list">
                <dt>
                    <a href="javascript:void(0)">
                        <img src="/Content/images/news-001.png" alt="">
                        <span>聚乙烯、聚丙烯、聚氯乙烯、聚苯乙烯、ABS</span>
                    </a>
                </dt>
                <dd><a href="javascript:void(0)">通用塑料主要包括聚乙烯、聚丙烯、聚氯乙烯、聚苯乙烯、ABS（丙烯酸-丁二烯-苯乙烯）、聚甲基苯烯酸甲酯和氨基塑料等,其产量占整个塑料产量的90%以上,故又称之为大宗塑料品种。</a></dd>
            </dl>
            @*<a href="javascript:void(0)" class="info-more">查看更多</a>*@
        </div>
        <div class="info-listItem">
            <div class="info-listItem-title">工程塑料频道</div>
            <dl class="info-listItem-list">
                <dt>
                    <a href="javascript:void(0)">
                        <img src="/Content/images/news-002.png" alt="">
                        <span>聚酰胺、聚碳酸酯、聚甲醛、改性聚苯醚</span>
                    </a>
                </dt>
                <dd><a href="javascript:void(0)">工程塑料分为通用工程塑料和特种工程塑料两类.前者主要品种有聚酰胺、聚碳酸酯、聚甲醛、改性聚苯醚和热塑性聚酯五大通用工程塑料;后者主要是指耐热达150℃以上的工程塑料,主要品种有聚酰亚胺、聚苯硫醚、聚砜类、芳香族聚酰胺、聚芳酯、聚苯酯、聚芳醚酮、液晶聚合物和氟树脂等。</a></dd>
            </dl>
            @*<a href="javascript:void(0)" class="info-more">查看更多</a>*@
        </div>
        <div class="info-listItem" style="margin-right:0px;">
            <div class="info-listItem-title">弹性体/降解塑料</div>
            <dl class="info-listItem-list">
                <dt>
                    <a href="javascript:void(0)">
                        <img src="/Content/images/news-003.png" alt="">
                     
                        <span>TPU,TPV,TPE,TPR,POE,TPEE</span>
                    </a>
                </dt>
                <dd><a href="javascript:void(0)">弹性体泛指在除去外力后能恢复原状的材料，然而具有弹性的材料并不一定是弹性体。主要品种有TPU,TPV,TPE,TPR,POE,TPEE。生物降解材料是指在适当和可表明期限的自然环境条件下，能够被微生物（如细菌、真菌和藻类等）完全分解变成低分子化合物的材料</a></dd>
            </dl>
            @*<a href="javascript:void(0)" class="info-more">查看更多</a>*@
        </div>
    </div>
</div>




<script type="text/javascript">
    function onSearch_Top_select(id, keyword) {
        //  var keyword = $.trim($("#search_input_top").val());
        if (keyword == "") {
            alert("请输入任意塑料类型、型号、厂家、性能、用途!");
            $("#search_input_top").focus();
            return false;
        }
        else {
            window.location.href = "/Product/Index?key=" + encodeURI(encodeURIComponent(keyword)) + "&keyid=" + id;
        }
    }


    var inputwidht = "650";
    $(function () {
        inputwidht = $("#search_input_top").width();
    })
    //淘宝搜索建议
    $("#search_input_top").searchSuggest({
        url: 'http://suggest.taobao.com/sug?code=utf-8&extras=1&q=',
        /*优先从url ajax 请求 json 帮助数据，注意最后一个参数为关键字请求参数*/
        jsonp: 'callback',
        /*如果从 url 获取数据，并且需要跨域，则该参数必须设置*/
        json: {
            'data': [{
                'id': '0',
                'word': 'baidu',
                'description': ''
            }, {
                'id': '1',
                'word': 'lzw.me',
                'description': ''
            }, {
                'id': '2',
                'word': 'w1.lzw.me',
                'description': ''
            }, {
                'id': '3',
                'word': 'g.lzw.me',
                'description': ''
            }, {
                'id': '4',
                'word': 'seo.lzw.me',
                'description': ''
            }],
            'defaults': 'http://lzw.me'
        }, //
        width: inputwidht, //提示框的宽度，缺省为输入框的宽度相同
        topoffset: 16, //提示框与输入框的距离，缺省为5
        style: 'list',
        cssFile: '/Content/src/css/search-suggest.css',
        tpl: "<div class=\"list\"><div class=\"word\" rel_id=\"st_{id}\" onclick=\"DropDownSearch({id},'{word}');\">{word}</div></div>",
        processData: function (json) { // url 获取数据时，对数据的处理，作为 getData 的回调函数
            debugger;
            if (!json || json.length == 0) return false;

            var jsonStr = "{'data':[";
            $.each(json, function (index, item) {
                jsonStr += "{'id':'" + item.id + "','word':'" + item.Word + "', 'description': '" + item.description + "'},";
            })
            jsonStr += "],'defaults':'塑蚁网'}";

            //字符串转化为 js 对象
            return json = (new Function("return " + jsonStr))();
        },
        getData: function (word, parent, callback) { //数据获取方法
            if (!word) return;
            //  debugger;
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/Home/SetJs',
                data: "keyword=" + word,
                async: false,
                success: function (json) {
                    //debugger;
                    if (json.count > 0) {
                        var resultData = json.result;
                        callback(parent, resultData);
                    }
                },
                error: function () {

                }
            });

        }
    });
    function DropDownSearch(obj, keyword) {
        //alert(obj);
        onSearch_Top_select(obj, keyword);
    }
</script>
@Html.Partial("~/Views/Public/Bottom.cshtml")
