@{
    ViewBag.Title = "塑蚁网- 塑料物性表|UL，ROSH认证|塑胶价格走势|塑胶助剂|物性替换搜索";
    ViewBag.keywords = "塑蚁网,塑胶物性,物性表,塑料搜索,搜索平台,塑料助剂,COA,MSDS,UL,FDA,ROHS,REACH,塑料行情";
    ViewBag.DescCentent = "塑蚁网是国内最精准永久免费塑料和助剂搜索平台，拥有行内最齐全的产品数据信息及在此基础上的智能检索、材料替换、材料推荐等功能，提供物性表及COA、MSDS、UL、FDA、ROHS、REACH等材质证明文书下载技术支持。";
}
@{var hotProducts = ViewBag.HotList == null ? (new List<PlasModel.ProductViewModel>()) : (ViewBag.HotList as List<PlasModel.ProductViewModel>);}

<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" charset=“utf-8” />
<script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js" type="text/javascript"></script>
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/Content/src/js/search-suggest.js"></script>
<script type="text/javascript" src="/Content/js/jquery.event.drag.js"></script>
<script type="text/javascript" src="/Content/js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="/Content/js/scroll.1.3.js"></script>
@*@Html.Partial("~/Views/Public/Header.cshtml")*@
@Html.Partial("~/Views/Public/PubSearch.cshtml")
<link href="~/Content/css/iconfont/iconfont.css" rel="stylesheet" />
<link href="~/Content/css/index200304.css" rel="stylesheet" />
<div class="clear"></div>
<div id="allboxdiv" style="margin-top:3px;">
    @*<div class="bannerList">
        <div class="bannerbg" style="background: url('/Content/img/newindex/APP banner.png') no-repeat center;"></div>
    </div>*@

    <div class="Banner">
        <div title="塑蚁网新站发布啦，更好免费体验等着你" class="img_bg" style='background:url(/Content/img/newindex/APPbanner.png) no-repeat center;'></div>
        <div title="微信小程序上线啦" class="img_bg" style='background:url(/Content/img/newindex/weixinbanner.jpg) no-repeat center;'></div>
        <div class="BannerBut">
            <div class="lis"></div>
        </div>
    </div>


    <div class="topboxdiv" style="width:100%;height:420px;position:absolute;margin-top:-420px; z-index:900;">
        <div class="mainwidth">

            <div class="topcenterboxleft left">
                <div class="leftmenubox" style="width:100%;height:40px;cursor:pointer;margin-top:10px;" v-for="(vlcass,index) in typelistdata">
                    <div v-bind:id="index" style="width:90%;height:40px;margin:0 auto;" onmousemove="itemmousemove(this)" onmouseout="itemmouseout(this)">
                        <div style="width:25px;height:40px;float:left;text-align:center;">
                            <img v-bind:src="vlcass.Image" style="width:20px;height:20px;margin:0 auto;margin-top:10px;" />
                        </div>
                        <div style="width:calc(100% - 50px);height:40px;float:left;text-align:left;text-indent:10px;">
                            <span style="color:#fff;letter-spacing:1px;font-size:16px;height:40px;line-height:40px;">{{vlcass.Name}}</span>
                        </div>
                        <div style="width:25px;height:40px;float:right;text-align:right;line-height:40px;">
                            <i class="iconfont suyigengduo" style="margin-right:2px;color:#fff;"></i>
                        </div>

                    </div>
                </div>
            </div>
            @* 二级三级分类弹出div部分 *@
            <div id="selectdivbox" class="showclassdivbox">
                <div class="classitembox" v-for="(vc,i) in childlist">
                    <div class="classitemtitle">
                        {{vc.MiddleName}}
                    </div>
                    <div class="classitemdiv" v-for="(vl,index) in vc.childclasslist">
                        <span v-bind:id="i+','+index" onclick="selectclassitem(this)">{{vl.Name}}</span>
                    </div>
                </div>
            </div>
            @* 二级三级分类弹出div部分 *@
            @*<div style="width:calc(100% - 516px);height:430px;float:left;margin-left:17px;">
                    <div style="width:100%;height:350px;margin-top:10px;">
                        <div class="img_gallery">
                            <div class="point">
                                <a href="#">1</a>

                            </div>
                            <div class="main_img">
                                <ul>
                                    <li>

                                        <img src="~/Content/img/toplb.jpg" style="width:100%;height:100%;border:none;" />
                                    </li>

                                </ul>
                                <a href="javascript:;" id="btn_prev"></a>
                                <a href="javascript:;" id="btn_next"></a>
                            </div>

                        </div>
                    </div>

                </div>*@
            <div class="right" style="width:300px;">
                <div class="toprightboxtop">
                    <div v-show="usname==''" style="width:100%;height:150px;">
                        <div style="width:100%;height:40px;margin-top:30px;float:left;">
                            <div style="width:60%;height:40px;margin:0 auto;">
                                <div style="width:40px;height:40px;float:left;">
                                    @*<img v-bind:src="usimg" style="width:40px;height:40px;" />*@
                                    <img src="~/Content/img/icon.png" style="width:40px;height:40px;" />

                                </div>
                                <div style="width:calc(100% - 50px);height:40px;float:left;margin-left:10px;">
                                    <div style="width:100%;height:20px;color:#666666;line-height:20px;font-size:16px;">
                                        Hi，下午好
                                    </div>
                                    <div style="width:100%;height:20px;color:#666666;line-height:20px;font-size:16px;">
                                        欢迎来到塑蚁网
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;height:50px;float:left;margin-top:35px;">
                            <div class="toprightbtn" onclick="showlogindivbox()">
                                登录/注册
                            </div>
                        </div>
                    </div>
                    <div v-show="usname!=''" style="width:100%;height:150px;">
                        <div style="width:100%;height:150px;float:left;">
                            <div style="width:80%;height:90px;margin:0 auto;">
                                <div style="width:100%;height:50px;margin-top:30px;">
                                    <div style="width:50px;height:50px;margin:0 auto;">
                                        <img v-bind:src="usimg" onerror="this.src = '/Content/img/user.png';" style="width:50px;height:50px;border-radius:180px;" />
                                    </div>
                                </div>
                                <div style="width:100%;height:40px;float:left;margin-left:10px;">
                                    <div style="width:100%;color:#333333;line-height:20px;font-size:16px;text-align:center;margin-top:5px;">
                                        {{usname}}
                                    </div>
                                    <div style="width:100%;height:20px;color:#666666;line-height:20px;font-size:14px;text-align:center;margin-top:5px;">
                                        欢迎来到塑蚁网
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div style="width:100%;height:50px;float:left;margin-top:5px;">
                                <div class="toprightbtnjc" onclick="">
                                    立即认证 赠送检测<i class="iconfont suyigengduo" style="margin-left:5px;"></i>
                                </div>
                            </div>*@
                    </div>
                    <div style="width:100%;height:85px;float:left;border-top:1px dashed #dddddd;margin-top:10px;">
                        <div style="width:30%;height:80px;float:left;margin-left:3%;">
                            <div style="width:100%;height:50px;text-align:center;">
                                <img src="~/Content/img/gyshz.png" style="width:40px;height:30px;margin:0 auto;margin-top:10px;" />
                            </div>
                            <div style="width:100%;height:30px;font-size:14px;color:#666666;text-align:center;">
                                供应商合作
                            </div>
                        </div>
                        <div style="width:30%;height:80px;float:left;margin-left:3%;border-right:solid 1px #eee;border-left:solid 1px #eee;">
                            <div style="width:100%;height:50px;text-align:center;">
                                <img src="~/Content/img/jczx.png" style="width:24px;height:32px;margin:0 auto;margin-top:10px;" />
                            </div>
                            <div style="width:100%;height:30px;font-size:14px;color:#666666;text-align:center;">
                                检测中心
                            </div>
                        </div>
                        <div style="width:30%;height:80px;float:left;margin-left:3%;">
                            <div style="width:100%;height:50px;text-align:center;">
                                <img src="~/Content/img/czlc.png" style="width:26px;height:32px;margin:0 auto;margin-top:10px;" />
                            </div>
                            <div style="width:100%;height:30px;font-size:14px;color:#666666;text-align:center;">
                                操作流程
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toprightboxbottom">
                    <div style="width:100%;height:20px;">
                        <div style="height:25px;line-height:25px;font-size:14px;color:#333333;cursor:pointer;text-align:center;margin-left:25px;float:left;" onclick="selectnews(0)">
                            热点资讯
                        </div>
                        <div style="height:25px;line-height:25px;font-size:14px;color:#333333;cursor:pointer;text-align:center;margin-left:20px;float:left;" onclick="selectnews(1)">
                            平台公告
                        </div>
                        @*<div style="height:25px;line-height:25px;font-size:14px;color:#333333;cursor:pointer;text-align:center;margin-right:15px;float:right;">
                                更多<i class="iconfont suyigengduo" style="margin-right:2px;color:#333333;font-size:12px;"></i>
                            </div>*@
                    </div>
                    <div v-if="newstype=='0'" style="width:100%;height:auto;margin-top:10px;">
                        <div class="newstitle aui-ellipsis-1" v-for="(vo,index) in newlist">
                            <div style="width:100%;height:25px;">
                                <i class="iconfont suyidian" style="margin-right:2px;color:#666666;font-size:12px;"></i>{{vo.Title}}
                            </div>
                        </div>
                    </div>
                    <div v-if="newstype=='1'" style="width:100%;height:auto;margin-top:10px;">
                        <div class="newstitle aui-ellipsis-1" v-for="(vg,index) in ggnewlist">
                            <div style="width:100%;height:25px;">
                                <i class="iconfont suyidian" style="margin-right:2px;color:#666666;font-size:12px;"></i>{{vg.Title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>


        </div>
    </div>

    <!--合作伙伴-->
    <div style="width:100%;">
        <div id="sliderdiv" class="mainwidth">
            <div class="wc1200 row rowE">
                <div class="bd mt20">
                    <div id="sca1" class="warp-pic-list">
                        <div id="wrapBox1" class="wrapBox" style="margin-top:15px;">
                            <ul id="count1" class="count clearfix"></ul>
                        </div>
                        <a id="right1" class="prev icon btn"></a>
                        <a id="left1" class="next icon btn"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="hei20"></div>-->
    </div>
    <div class="clear"></div>


    <!--价格行情-->
    <div style="width:100%;height:550px;">
        <div class="mainwidth">
            <div id="pricedivbox" class="left jiageleft">
                <div style="width:100%;height:90px;position:relative;">
                    <img src="~/Content/img/btbj.jpg" style="width:100%;height:100%;border-radius:2px;" />
                    <div class="hangqignTitle">
                        价格行情<i class="iconfont suyiiconfontroundright" style="color:#ffffff;margin-left:15px;font-size:30px;"></i>
                    </div>
                </div>
                <div style="width:100%;margin-top:5px;">
                    <div style="width:100%;height:70px;" v-for="(vi,index) in pricelist">
                        <div v-bind:id="index" onclick="selectitem(this)" v-bind:class="vi.class" style="width:100%;height:70px;">
                            <div style="width:95%;height:70px;margin:0 auto;border-bottom:1px solid #dddddd;">
                                <div style="width:100%;height:35px;">
                                    <div class="itemtitle aui-ellipsis-1" style="width:60%;height:35px;float:left; color:#666666;line-height:50px;font-size:14px;text-align:left;text-indent:10px;">
                                        {{vi.SmallClass}} | {{vi.ManuFacturer}}
                                    </div>
                                    <div class="itemtitle" style="width:40%;height:35px;float:left;color:#666666;line-height:50px;font-size:14px;text-align:right;">
                                        <span v-if="vi.Diff<0" class="fa fa-arrow-down text-blue" style="margin-right: 18px;"></span>
                                        <span v-if="vi.Diff<0" class="text-blue">{{vi.Diff}}</span>
                                        <span v-if="vi.Diff==0" class="fa fa-minus text-gray" style="margin-right: 18px;"></span>
                                        <span v-if="vi.Diff==0" class="text-gray">{{vi.Diff}}</span>
                                        <span v-if="vi.Diff>0" class="fa fa-arrow-up text-red" style="margin-right: 18px;"></span>
                                        <span v-if="vi.Diff>0" class="text-red">{{vi.Diff}}</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div style="width:100%;height:35px;">
                                    <div class="itemtitle" style="width:60%;height:35px;float:left; color:#666666;line-height:35px;font-size:14px;text-align:left;text-indent:10px;">
                                        {{vi.Model}}
                                    </div>
                                    <div class="itemtitle" style="width:40%;height:35px;float:left;color:#666666;line-height:35px;font-size:14px;text-align:right;">
                                        {{vi.PriDatestr}}
                                        @*{{vi.Price}}元一吨*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width:100%;height:60px;">
                        <div style="width:50%;height:60px;margin:0 auto;">
                            <a href="/Price/Index" target="_blank">
                                <div class="lookMore">
                                    查看更多
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right rightjiage">
                  <div style="width:100%;">
                    <div style="width:95%;height:70px;margin:0 auto;border-bottom:1px solid #dddddd;">
                        <div style="width:100%;height:35px;">
                            <div style="width:50%;height:35px;color:#278cd0;font-size:16px;line-height:40px;font-weight:700;float:left;">
                                <img src="~/Content/img/jgqx.jpg" style="width: 25px;height: 25px;float: left;margin-top: 8px;margin-right:10px;" />
                                价格趋势
                            </div>
                            <div style="width:50%;height:35px;color:#278cd0;float:left;">
                                <div style="width:100px;height:35px;float:right;text-align:right;font-size:16px;line-height:40px;font-weight:700;cursor:pointer;">
                                    @*更多<i class="fa fa-angle-double-right" style="font-size:22px;margin-left:5px;"></i>*@
                                    <select id="selectpridate" style="width:80px;height:25px;">
                                        <option value="7">近七天</option>
                                        <option value="30">近一月</option>
                                        <option value="180">近半年</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;height:35px;">
                            <div class="itemtitle" style="width:50%;height:35px;float:left; color:#666666;line-height:40px;font-size:14px;text-align:left;">
                                {{SmallClass}} | {{Model}}
                            </div>
                            <div class="itemtitle" style="width:50%;height:35px;float:left;color:#666666;line-height:40px;font-size:14px;text-align:right;">
                                厂家：{{Manufacturer}}
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:100%;height:390px;">
                    <div id="chart1" style="height: 390px;width: 100%;">

                    </div>
                </div>
                <div style="width:100%;height:50px;">
                    <div style="width:95%;height:50px;margin:0 auto;font-size:12px;color:#999999;">
                        免责声明：参考价格是塑蚁网根据网络大数据分析所得结果，仅供参考；
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!--end 行情价格-->
    <!--体验官-->
    <div class="mainwidth">
        <img src="~/Content/img/zjhb.jpg" style="width:100%;height:100%;border:none;" />
    </div>
    <!--end 体验官-->
    <!--物性报告-->
    <div class="hei20"></div>
    <div class="mainwidth">
        <div style="width:calc((100% - 30px) / 2);height:365px;float:left;border:1px solid #dddddd;">
            <div style="width:100%;height:50px;border-bottom:1px solid #dddddd;">
                <div style="width:100%;height:50px;">
                    <div style="width:180px;height:50px;color:#ffffff;font-size:26px;text-align:left;line-height:45px;font-weight:700; background:#4BADFF;float:left;padding-left:20px;">
                        物性报告
                        <i class="iconfont suyiiconfontroundright" style="color:#ffffff;margin-left:10px;font-size:30px;"></i>
                    </div>
                    @*<div style="width:100px;height:50px;color:#666666;float:right;margin-right:15px;line-height:50px;text-align:right;cursor:pointer;">
                            更多<i class="fa fa-angle-double-right" style="font-size:16px;margin-left:2px;color:#666666;"></i>
                        </div>*@
                </div>
                <div style="width:100%;height:300px;margin-top:10px;">
                    <div style="width:100%;height:300px;">
                        <div style="width:calc((100% - 60px)/2);height:70px;border-bottom:1px solid #dddddd;float:left;margin-left:15px;margin-right:15px;cursor:pointer;" v-for="(vp,index) in prodata">
                            <div v-bind:id="index" onclick="selectproitem(this)" style="width:100%;height:70px;">
                                <div style="width:95%;height:70px;margin:0 auto;border-bottom:1px solid #dddddd;">
                                    <div style="width:100%;height:35px;">
                                        <div class="itemtitle aui-ellipsis-1" style="width:50%;height:35px;float:left; color:#666666;line-height:50px;font-size:14px;text-align:left;">
                                            {{vp.AliasName}}
                                        </div>
                                        <div class="itemtitle" style="width:50%;height:35px;float:left;color:#999999;line-height:50px;font-size:14px;text-align:right;">
                                            {{vp.CreateDate}}
                                        </div>
                                    </div>
                                    <div style="width:100%;height:35px;">
                                        <div class="itemtitle aui-ellipsis-1" style="width:50%;float:left; color:#333333;line-height:35px;font-size:14px;text-align:left;">
                                            {{vp.ProModel}}/{{vp.Name}}
                                        </div>
                                        <div class="itemtitle" style="width:50%;height:35px;float:left;color:#1593FF;line-height:35px;font-size:14px;text-align:right;">
                                            {{vp.Name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:26px;height:365px;float:left;"></div>
        <div style="width:calc((100% - 30px) / 2);height:365px;float:left;border:1px solid #dddddd;">
            <div style="width:100%;height:50px;border-bottom:1px solid #dddddd;">
                <div style="width:100%;height:50px;">
                    <div style="width:180px;height:50px;color:#ffffff;font-size:26px;text-align:left;line-height:45px;font-weight:700; background:#4BADFF;float:left;padding-left:20px;">
                        认证报告
                        <i class="iconfont suyiiconfontroundright" style="color:#ffffff;margin-left:10px;font-size:30px;"></i>
                    </div>
                    @*<div style="width:100px;height:50px;color:#666666;float:right;margin-right:15px;line-height:50px;text-align:right;cursor:pointer;">
                            更多<i class="fa fa-angle-double-right" style="font-size:16px;margin-left:2px;color:#666666;"></i>
                        </div>*@
                </div>
            </div>
            <div style="width:100%;height:300px;margin-top:10px;">
                <div style="width:100%;height:300px;">
                    <div style="width:calc((100% - 60px)/2);height:70px;border-bottom:1px solid #dddddd;float:left;margin-left:15px;margin-right:15px;cursor:pointer;" v-for="(vpdf,index) in pdfdata">
                        <div style="width:100%;height:70px;" v-bind:id="index" onclick="bgtodetailt(this)">
                            <div style="width:95%;height:70px;margin:0 auto;border-bottom:1px solid #dddddd;">
                                <div style="width:100%;height:70px;">
                                    <div style="width:70%;height:70px;float:left;">
                                        <div class="itemtitle" style="width:100%;height:35px;float:left; color:#333333;line-height:50px;font-size:14px;text-align:left;">
                                            {{vpdf.AliasName}}
                                        </div>
                                        <div class="itemtitle aui-ellipsis-1" style="width:100%;height:35px;float:left;color:#999999;line-height:35px;font-size:14px;text-align:left;">
                                            {{vpdf.Name}}/{{vpdf.ProModel}}
                                        </div>
                                    </div>
                                    <div style="width:30%;height:70px;float:left;">
                                        <div class="aui-ellipsis-1" style="position:relative;height:30px;margin-top:20px;text-align:center;font-size:12px;color:#ffffff;background:#0B68F5;opacity:0.7;border-radius:30px;line-height:30px;box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.35);" v-bind:style="vpdf.typenamebcstyle">
                                            {{vpdf.TypeName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--end 物性报告-->
    <!--塑料行情-->
    <div class="hei20"></div>
    <div class="mainwidth" style="height:700px;border:1px solid #dddddd;">
        <div style="width:275px;height:700px;float:left;">
            <div style="width:100%;height:90px;position:relative;">
                <img src="~/Content/img/btbj.jpg" style="width:100%;height:100%;border-radius:2px;" />
                <div style="width:100%;height:70px;position:absolute;top:20px;">
                    <div style="width:70%;height:70px;float:left;line-height:50px;text-indent:20px;color:#ffffff;font-size:28px;font-weight:700;letter-spacing:2px;">
                        塑料行情
                    </div>
                    @*<div style="width:calc(30% - 15px);height:70px;float:left;text-align:right;font-size:14px;line-height:50px;margin-right:15px;color:#666666;cursor:pointer;">
                            更多<i class="fa fa-angle-double-right" style="font-size:16px;margin-left:2px;color:#666666;"></i>
                        </div>*@
                </div>
            </div>
            <div style="width:274px;height:610px;border-right:1px solid #dddddd;">
                <div style="width:100%;height:70px;" v-for="(vslhq,index) in slhqdata">
                    <div style="width:100%;height:70px;cursor:pointer;" v-bind:id="vslhq.ID" onclick="tonewsdetail(this)">
                        <div style="width:30%;height:70px;float:left;">
                            <div style="min-width:50px;width:auto;display:inline-block !important; display:inline;position:relative;float:right;top:20px;text-align:center;padding-left:2px;padding-right:2px;font-size:13px;color:#4BADFF;border:1px solid #dddddd;border-radius:3px;">
                                {{vslhq.CreateDate}}
                            </div>
                        </div>
                        <div style="width:70%;height:70px;float:left;">
                            <div style="width:70%;margin:0 auto;font-size:14px;color:#666666;padding-top:10px;line-height:20px;" class="aui-ellipsis-2">
                                {{vslhq.Title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:calc(100% - 565px);height:700px;float:left;">
            <div style="width:100%;height:245px;">
                <img src="~/Content/img/hb2.png" style="width:100%;height:100%;border:none;" />
            </div>
            <div style="width:100%;height:45px;">
                <div style="width:95%;height:45px;margin:0 auto;">
                    <div style="width:50%;height:45px;float:left;">
                        <div style="width:4px;height:20px;margin-top:12px;float:left;background:#4BADFF;"></div>
                        <div style="width:calc(100% - 4px);height:45px;line-height:45px;color:#333333;font-size:18px;text-indent:15px;letter-spacing:1px;">
                            应用案例
                        </div>
                    </div>
                    <div style="width:50%;height:45px;float:left;">
                        <div style="width:100px;height:70px;float:right;text-align:right;font-size:14px;line-height:50px;margin-right:15px;color:#666666;cursor:pointer;">
                            更多<i class="fa fa-angle-double-right" style="font-size:16px;margin-left:2px;color:#666666;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:100%;height:400px;margin-top:10px;">
                <div style="width:92%;height:110px;margin:0 auto;border-bottom:1px dashed #dddddd;margin-bottom:20px;" v-for="(val,index) in yyaldata">
                    <div style="width:220px;height:110px;float:left;">
                        <img v-bind:src="val.HomeImg" style="width:200px;height:105px;margin:2px auto;" />
                    </div>
                    <div style="width:calc(100% - 220px);height:110px;float:left;">
                        <div style="width:100%;height:110px;cursor:pointer;" v-bind:id="val.ID" onclick="tonewsdetail(this)">
                            <div style="width:100%;height:25px;">
                                <div class="aui-ellipsis-1" style="width:70%;height:25px;float:left;font-size:16px;color:#333333;line-height:25px;font-weight:700;">
                                    {{val.Title}}
                                </div>
                                <div style="width:30%;height:25px;float:left;text-align:right;font-size:14px;color:#999999;line-height:25px;">
                                    [{{val.CreateDate}}]
                                </div>
                            </div>
                            <div style="width:100%;max-height:40px;text-align:left;color:#707475;font-size:14px;line-height:20px;margin-top:5px;" class="aui-ellipsis-2">
                                {{val.DescMsg}}
                            </div>
                            <div style="width:100%;height:35px;margin-top:5px;">
                                <div style="width:60%;height:35px;float:left;">
                                    @*<div style="height:15px;line-height:15px;font-size:10px;color:#dddddd;border:1px solid #dddddd;text-align:center;padding-left:3px;padding-right:3px;float:left;margin-right:10px;border-radius:3px;margin-top:10px;">
                                            聚丙烯
                                        </div>
                                        <div style="height:15px;line-height:15px;font-size:10px;color:#dddddd;border:1px solid #dddddd;text-align:center;padding-left:3px;padding-right:3px;float:left;margin-right:10px;border-radius:3px;margin-top:10px;">
                                            聚丙烯
                                        </div>*@
                                </div>
                                <div style="width:40%;height:35px;float:left;text-align:right;font-size:14px;color:#999999;line-height:35px;">
                                    <div style="height:35px;font-size:12px;color:#808080;line-height:35px;float:right;margin-left:15px;">
                                        <i class="iconfont suyiliulan" style="font-size:16px;margin-left:2px;color:#666666;margin-right:3px;"></i>{{val.BrowseCount}}
                                    </div>
                                    <div style="height:35px;font-size:14px;color:#808080;line-height:35px;float:right;">
                                        来源：塑蚁网
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="width:289px;height:700px;float:right;border-left:1px solid #dddddd;">
            <div style="width:100%;height:45px; border-bottom:1px solid #f2f2f2;">
                <div style="width:95%;height:45px;margin:0 auto;">
                    <div style="width:50%;height:45px;float:left;">
                        <div style="width:calc(100% - 4px);height:45px;line-height:45px;color:#333333;font-size:18px;text-indent:15px;letter-spacing:1px;">
                            塑料资讯
                        </div>
                    </div>
                    <div style="width:50%;height:45px;float:left;">
                        <div style="width:100px;height:45px;float:right;text-align:right;font-size:14px;line-height:50px;margin-right:15px;color:#666666;cursor:pointer;">
                            更多<i class="fa fa-angle-double-right" style="font-size:16px;margin-left:2px;color:#666666;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:100%;height:500px;">
                <div style="width:90%;height:140px;margin:0 auto;border-bottom:1px solid #f2f2f2;margin-top:15px;" v-for="(vbc,index) in btnewdata">
                    <div v-bind:id="vbc.ID" onclick="tonewsdetail(this)" style="width:100%;height:140px; cursor:pointer;">
                        <div style="width:100%;max-height:50px; font-size:14px;color:#333333;line-height:20px;" class="aui-ellipsis-2">
                            {{vbc.Title}}
                        </div>
                        <div style="width:100%;height:100px;">
                            <div style="width:50%;height:100px;float:left;">
                                <img v-bind:src="vbc.HomeImg" style="width:90%;height:80px;margin:10px auto;" />
                            </div>
                            <div style="width:50%;max-height:100px;float:left;font-size:14px;color:#666666;line-height:20px;" class="aui-ellipsis-4">
                                {{vbc.DescMsg}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end 塑料行情-->
    <!--塑料频道-->
    <div style="width:100%;height:65px;">
        <div class="mainwidth" style="height:65px;border-bottom:2px solid #999999;">
            <div style="width:180px;height:65px;border-bottom:2px solid #1593ff;color:#333333;font-size:20px;text-align:left;line-height:80px;font-weight:700;">
                塑料频道
            </div>
        </div>
    </div>
    <div class="hei20"></div>

    <div class="mainwidth" style="height:390px;">
        <div style="width:32%;height:390px;float:left;">
            <img src="~/Content/img/tysl.jpg" style="width: 100%;height: 100%;" />
        </div>
        <div style="width:32%;height:390px;float:left;margin-left:2%;">
            <img src="~/Content/img/gcsl.jpg" style="width: 100%;height: 100%;" />
        </div>
        <div style="width:32%;height:390px;float:right;">
            <img src="~/Content/img/xjsl.jpg" style="width: 100%;height: 100%;" />
        </div>
    </div>
    <div class="hei20"></div>

    <!--end 塑料频道-->


</div>


<script src="~/Content/js/echarts.min.js" type="text/javascript"></script>
<script src="~/Content/js/vue.js" type="text/javascript"></script>
<script type="text/javascript">
    //初始化vue组件
    var vm = new Vue({
        el: '#allboxdiv',
        data: {
            newlist: [],//热点资讯新闻数据
            ggnewlist: [],//平台公告新闻数据
            pricelist: [],//价格趋势数据
            manufacturerlist: [],//厂家数据
            SmallClass: "",//选中的价格类别
            Manufacturer: "",//选中的价格厂家
            Model: "",//选中的价格型号
            priceData: "&priceDate=7",//价格时间
            annotationdata: [],//助剂数据
            indexitem: "",//选中的菜单id
            newstype: "0",//0：显示热点资讯 1：平台公告
            typelistdata: [],//大类数据
            childlist: [],//下级分类数据
            btnewdata: [],//底部资讯数据
            yyaldata: [],//应用案例
            slhqdata: [],//塑料行情数据
            pdfdata: [],//pdf认证报告数据
            prodata: [],//物性报告数据

            usname: "",//用户名
            usimg: "~/Content/img/icon.png"//头像

        }, methods: {
            load: function () {
                $.ajax({
                    type: "GET",
                    dataType: "JSON",
                    url: '/Product/GetIndexTopData',
                    data: "",
                    async: false,
                    success: function (data) {
                        //alert(JSON.stringify(data));
                        console.log(data);
                        var returnstate = data.State;
                        if (returnstate == "Success") {
                            var resultdata = data.Result;
                            vm.usname = resultdata.usname;
                            vm.usimg = resultdata.usimg;
                            vm.newlist = resultdata.newdata;
                            vm.yyaldata = resultdata.yyaldata;
                            vm.slhqdata = resultdata.slhqldata;
                            vm.btnewdata = resultdata.btnewdata;
                            vm.ggnewlist = resultdata.newggdata;
                            vm.typelistdata = resultdata.typelistdata;
                            vm.prodata = resultdata.prodata;
                            //处理pdf认证报告数据
                            var temppdfdata = resultdata.pdfdata;
                            //判断pdf数据渲染条件
                            for (var i = 0; i < temppdfdata.length; i++) {
                                temppdfdata[i]["typenamebcstyle"] = 'background:' + temppdfdata[i].ImagesColor + '; color:#ffffff;';
                                vm.pdfdata.push(temppdfdata[i]);
                            }
                            //vm.pricelist = resultdata.pricedata;
                            //处理价格趋势数据
                            var temppricedata = resultdata.pricedata;
                            for (var i = 0; i < temppricedata.length; i++) {
                                if (i == 0) {
                                    temppricedata[i]["class"] = "itembox active";
                                }
                                else {
                                    temppricedata[i]["class"] = "itembox";
                                }
                                vm.pricelist.push(temppricedata[i]);
                            }
                            vm.SmallClass = vm.pricelist[0].SmallClass;
                            vm.Manufacturer = vm.pricelist[0].ManuFacturer;
                            vm.Model = vm.pricelist[0].Model;
                            GetPriceList();
                            //vm.manufacturerlist = resultdata.manufacturerdata;
                            //处理合作厂家轮播图片数据
                            var tempmanufacturerlist = resultdata.manufacturerdata;
                            if (tempmanufacturerlist.length > 0) {
                                var tempstr = "";
                                for (var i = 0; i < tempmanufacturerlist.length; i++) {
                                    tempstr = tempstr + "<li style='margin-left:0px; padding: 0px; margin-top: 8px; margin-right: 25px; width: 170px; height:90px !important;border:0px !important;'>" +
                                        //"< a href = '#2685' class='img_wrap' >" +
                                        "<img src='" + tempmanufacturerlist[i].IcoPath + "' border='0' style='width:97%;height:85px;margin:2px auto;display:block;border:1px solid #ddd;'>" +
                                        //"</a>" +
                                        "</li >";
                                }
                                $("#count1").append(tempstr);
                            }
                            vm.annotationdata = resultdata.annotationdata;

                            //var str = "";
                            //for (var i = 0; i < vm.manufacturerlist.length; i++) {
                            //    if (str == "") {
                            //        str = "<div  class='slider1'><div class='slide' style='border:1px solid #cccccc;padding-bottom:10px;padding-top:10px;border-radius:3px;'>< img src='~/Content/img/brand/4.png' style ='width:230px;height:100px;margin:0 auto;'></div >";
                            //        //vm.manufacturerlist[i].IcoPath
                            //    }
                            //    else {
                            //        str = str + "<div class='slide' style='border:1px solid #cccccc;padding-bottom:10px;padding-top:10px;border-radius:3px;'>" +
                            //            "< img src='~/Content/img/brand/4.png' style = 'width:230px;height:100px;margin:0 auto;'></div ></div >";
                            //    }
                            //}
                            //$("#sliderdiv").html(str);
                        }
                    },
                    error: function () { layer.msg('数据请求异常', { icon: 2 }); }
                });
            }
        }
    });

    var dataArry = new Array();//时间
    var priceArry = new Array();//价格
    function onSearch_Top_select(id, keyword) {
        //  var keyword = $.trim($("#search_input_top").val());
        if (keyword == "") {
            alert("请输入任意塑料类型、型号、厂家、性能、用途!");
            $("#search_input_top").focus();
            return false;
        }
        else {
            window.location.href = "/Product/Index?key=" + encodeURI(encodeURIComponent(keyword)) + "&searchtype=1&keyid=" + id;
        }
    }
    var inputwidht = "650";
    $(function () {
        inputwidht = $("#search_input_top").width();
        vm.load();
        //加载轮播图
        $(".img_gallery").hover(function () {
            $("#btn_prev,#btn_next").fadeIn()
        }, function () {
            $("#btn_prev,#btn_next").fadeOut()
        });

        $dragBln = false;

        $(".main_img").touchSlider({
            flexible: true,
            speed: 200,
            btn_prev: $("#btn_prev"),
            btn_next: $("#btn_next"),
            paging: $(".point a"),
            counter: function (e) {
                $(".point a").removeClass("on").eq(e.current - 1).addClass("on");//图片顺序点切换
                $(".img_font span").hide().eq(e.current - 1).show();//图片文字切换
            }
        });

        $(".main_img").bind("mousedown", function () {
            $dragBln = false;
        });

        $(".main_img").bind("dragstart", function () {
            $dragBln = true;
        });

        $(".main_img a").click(function () {
            if ($dragBln) {
                return false;
            }
        });

        timer = setInterval(function () {
            $("#btn_next").click();
        }, 5000);

        $(".img_gallery").hover(function () {
            clearInterval(timer);
        }, function () {
            timer = setInterval(function () {
                $("#btn_next").click();
            }, 5000);
        });

        $(".main_img").bind("touchstart", function () {
            clearInterval(timer);
        }).bind("touchend", function () {
            timer = setInterval(function () {
                $("#btn_next").click();
            }, 5000);
        });

        //加载品牌轮播
        //$('.slider1').bxSlider({

        //    slideWidth: 293,

        //    minSlides: 2,

        //    maxSlides: 4,

        //    slideMargin: 10

        //});


        //加载头部商品轮播
        $("#counttop").dayuwscroll({
            parent_ele: '#wrapBox2',
            list_btn: '#tabT02',
            pre_btn: '#left2',
            next_btn: '#right2',
            path: 'left',
            auto: false,
            time: 3000,
            num: 3,
            gd_num: 3,
            waite_time: 1000

        })

        //加载品牌轮播
        $("#count1").dayuwscroll({
            parent_ele: '#wrapBox1',
            list_btn: '#tabT04',
            pre_btn: '#left1',
            next_btn: '#right1',
            path: 'left',
            auto: false,
            time: 3000,
            num: 7,
            gd_num: 7,
            waite_time: 1000

        })


        //加载价格趋势图
        onLoadEchars();
    })
    //选择价格趋势
    function selectitem(t) {
        var index = t.id;
        $("#pricedivbox .itembox").removeClass("active");
        $("#pricedivbox #" + index).addClass("active");
        vm.SmallClass = vm.pricelist[index].SmallClass;
        vm.Manufacturer = vm.pricelist[index].ManuFacturer;
        vm.Model = vm.pricelist[index].Model;
        GetPriceList();
    };
    $("#selectpridate").change(function () {
        var thisvalue = $("#selectpridate").children('option:selected').val();
        vm.priceData = "&priceDate=" + thisvalue;
        GetPriceList();
    });
    function GetPriceList() {
        //debugger;
        //SmallClass='ABS' and Manufacturer='台湾台化' and Model='AG15A1'
        dataArry.length = 0;
        priceArry.length = 0;
        //$(".Txt_SmallClass").html(SmallClass);
        //$(".Txt_Manufacturer").html(Manufacturer);
        //$(".Txt_Model").html(Model);
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: '/Price/GetPriceDateList',
            data: "SmallClass=" + vm.SmallClass + "&Manufacturer=" + vm.Manufacturer + "&Model=" + vm.Model + vm.priceData,
            async: false,
            success: function (result) {
                var product_Data = result.data;
                row_count = result.totalCount;
                if (row_count != 0) {
                    $.each(JSON.parse(product_Data), function (a, b) {
                        dataArry.push(getdatefroment(b.PriDate)); //PriDate formatterTime(b.PriDate, "YYYY-MM-DD")
                        priceArry.push(parseInt(b.Price));
                    });
                }
                onLoadEchars();
                //dataArry = dataArry.substring(0, dataArry.length - 1);
                //priceArry = priceArry.substring(0, priceArry.length - 1);
            },
            error: function () { layer.msg('Load the data failure!', { icon: 5 }); }
        });
    }
    function onLoadEchars() {
        //'2019-03-16', '2019-03-17', '2019-03-18', '2019-03-19'
        var options = {
            backgroundColor: '#fffdff',
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            legend: { data: [] },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '3%',
                bottom: '4%',
                top: '7%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: dataArry//'2019-03-16', '2019-03-17', '2019-03-18', '2019-03-19', '2019-03-20', '2019-03-21', '2019-03-22'
                    ,
                    //网格样式
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: ['#e4e3e6'],
                            width: 1,
                            type: 'solid'
                        }
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    min: function (value) {
                        return value.min;
                    },
                    //网格样式
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: ['#e4e3e6'],
                            width: 1,
                            type: 'solid'
                        }
                    }
                }
            ],
            series: [
                {
                    name: '价格',
                    type: 'line',
                    areaStyle: {},
                    smooth: true,
                    data: priceArry//
                    ,
                    itemStyle: {
                        normal: {
                            color: '#ddeff8',
                            lineStyle: {
                                color: '#3081c1'
                            }
                        }
                    }
                }
            ]
        };
        function rpt1(id, option, h) {
            var o = document.getElementById(id);
            var myChart = echarts.init(o);
            myChart.setOption(option);
        }
        //alert(dataArry)
        //alert(priceArry)
        rpt1('chart1', options);
    }
    //淘宝搜索建议
    $("#search_input_top").searchSuggest({
        url: 'http://suggest.taobao.com/sug?code=utf-8&extras=1&q=',
        /*优先从url ajax 请求 json 帮助数据，注意最后一个参数为关键字请求参数*/
        jsonp: 'callback',
        /*如果从 url 获取数据，并且需要跨域，则该参数必须设置*/
        json: {
            'data': [{
                'id': '0',
                'word': 'baidu',
                'description': ''
            }, {
                'id': '1',
                'word': 'lzw.me',
                'description': ''
            }, {
                'id': '2',
                'word': 'w1.lzw.me',
                'description': ''
            }, {
                'id': '3',
                'word': 'g.lzw.me',
                'description': ''
            }, {
                'id': '4',
                'word': 'seo.lzw.me',
                'description': ''
            }],
            'defaults': 'http://lzw.me'
        }, //
        width: inputwidht, //提示框的宽度，缺省为输入框的宽度相同
        topoffset: 16, //提示框与输入框的距离，缺省为5
        style: 'list',
        cssFile: '/Content/src/css/search-suggest.css',
        tpl: "<div class=\"list\"><div class=\"word\" rel_id=\"st_{id}\" onclick=\"DropDownSearch({id},'{word}','{category}','{ProductGuid}');\">{word}</div></div>",
        processData: function (json) { // url 获取数据时，对数据的处理，作为 getData 的回调函数
            debugger;
            if (!json || json.length == 0) return false;

            var jsonStr = "{'data':[";
            $.each(json, function (index, item) {
                jsonStr += "{'id':'" + item.id + "','word':'" + item.Word + "', 'description': '" + item.description + "'},";
            })
            jsonStr += "],'defaults':'塑蚁网'}";

            //字符串转化为 js 对象
            return json = (new Function("return " + jsonStr))();
        },
        getData: function (word, parent, callback) { //数据获取方法
            if (!word) return;
            //  debugger;
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/Home/SetJs',
                data: "keyword=" + word,
                async: false,
                success: function (json) {
                    //debugger;
                    if (json.count > 0) {
                        var resultData = json.result;
                        callback(parent, resultData);
                    }
                },
                error: function () {

                }
            });

        }
    });

    function DropDownSearch(obj, keyword, category, productid) {
        //alert(obj);
        if (category == "产品型号") {
            window.location.href = '/PhysicalProducts/Detail/' + productid + ".html";
        }
        else {
            onSearch_Top_select(obj, keyword);
        }

    }

    //显示或者隐藏选择分类板块
    //$(".leftmenuboxitem").hover(function () {
    //    alert("sdf");
    //    $("#selectdivbox").show();
    //}, function () {
    //    $("#selectdivbox").hide();
    //});
    $("#selectdivbox").hover(function () {
        $("#selectdivbox").show();
    }, function () {
        $("#selectdivbox").hide();
    });
    //鼠标移入大类时显示下级分类
    function itemmousemove(t) {
        var index = t.id;
        var id = vm.typelistdata[index].Guid;
        $.ajax({
            type: "GET",
            dataType: "JSON",
            url: '/Product/GetIndexClass',
            data: "classid=" + id,
            async: false,
            success: function (data) {
                //alert(JSON.stringify(data));
                var returnstate = data.State;
                if (returnstate == "Success") {
                    var resultdata = data.Result;
                    vm.childlist = resultdata;
                }
            },
            error: function () { layer.msg('数据请求异常', { icon: 2 }); }
        });
        $("#selectdivbox").show();
    }
    //鼠标移出大类时隐藏下级分类
    function itemmouseout(t) {
        $("#selectdivbox").hide();
    }
    ////显示或者隐藏品牌翻页按钮
    //$("#wrapBox1").hover(function () {
    //    $("#right1").css("display","block");
    //    $("#left1").css("display","block");
    //}, function () {
    //    //$("#right1").css("display","none");
    //    //$("#left1").css("display","none");
    //});
    //显示登录页面
    function showlogindivbox() {
        $(".showlogin").show();
        //$(".showdivbox").show();
        $('body').css("overflow", "hidden");
    }
    function selectnews(type) {
        if (type == 0) {
            vm.newstype = "0";
        }
        else {
            vm.newstype = "1";
        }
    }
    //选择二级或者三级分类跳转到搜索页
    function selectclassitem(t) {
        var index = t.id;
        var splitlist = index.split(",");
        var bigindex = splitlist[0];
        var smallindex = splitlist[1];
        var childlist = vm.childlist[bigindex].childclasslist;
        var tempguid = childlist[smallindex].Guid;
        var classitemname = childlist[smallindex].Name;
        //window.location.href = "/Product/Index?key=" + encodeURI(encodeURIComponent(classitemname)) + "&keyid=" + 0;
        //var turl = "/Product/Index?key=" + encodeURI(encodeURIComponent(classitemname)) + "&keyid=" + 0;
        var turl = "/Product/Index?kind=" + encodeURI(encodeURIComponent(tempguid)) + "&kindname=" + encodeURI(encodeURIComponent(classitemname)) + "&searchtype=0&keyid=" + 0;
        window.open(turl);
    }
    //认证报告跳转到详情
    function bgtodetailt(t) {
        var index = t.id;
        var tid = vm.pdfdata[index].ProductGuid;
        //window.location.href = "/PhysicalProducts/Detail/" + tid + ".html";
        var turl = "/PhysicalProducts/Detail/" + tid + ".html";
        window.open(turl);
    }
    //物性报告跳转到详情
    function selectproitem(t) {
        var index = t.id;
        var tid = vm.prodata[index].ProductGuid;
        var turl = "/PhysicalProducts/Detail/" + tid + ".html";
        window.open(turl);
    }
    function tonewsdetail(t) {
        var id = t.id;
        var turl = "/News/Detail/?id=" + id;
        window.open(turl);
    }
</script>
<script type="text/javascript">

    //首页滚动
    var cin = -1;
    $(function () {
        /*top宣言展示*/
        var lencen = $(".img_bg").length;
        var str = "";
        for (i = 0; i < lencen; i++) {
            str += "<a href=\"javascript:void(0)\"></a>"
        }
        $(".lis").html(str);
        //////mouseover
        $(".lis a").mouseover(function () {
            var inde = $(".lis a").index(this);
            $(".lis a").css("background", "url(/Content/img/out.png)  no-repeat center");
            $(this).css("background", "url(/Content/img/on.png) no-repeat center");
            $(".img_bg").hide();
            $(".img_bg:eq(" + inde + ")").fadeIn();
            cin = inde;
        });
        on_loxy();
    });

    /*自动*/
    function on_loxy() {
        var lencen = $(".img_bg").length;
        $(".img_bg").hide();
        $(".lis a").css("background", "url(/Content/img/out.png) no-repeat center");
        var c = cin + 1;
        if (c < lencen) {
            cin = c
        } else {
            cin = 0
        }
        $(".img_bg:eq(" + cin + ")").fadeIn();
        $(".lis a:eq(" + cin + ")").css("background", "url(/Content/img/on.png) no-repeat center");

        t = setTimeout("on_loxy(" + cin + ")", 10000);
    }
	///////////////end  首页滚动
</script>

@Html.Partial("~/Views/Public/Bottom.cshtml")
