@{
    ViewBag.Title = (ViewBag.Title2 + "" + ViewBag.ProModel + "|" + ViewBag.ProFactory + "|" + ViewBag.ProType + "物性表, ROHS|MSDS|UL|COC等资料下载");
    ViewBag.keywords = (ViewBag.Keywords + "" + ViewBag.ProModel);
    ViewBag.DescCentent = ViewBag.description;
}
@{
}
<style type="text/css">
</style>
<link href="~/Content/css/iconfont/iconfont.css" rel="stylesheet" />
<script src="~/Content/layui/lay/modules/layer.js" type="text/javascript"></script>
<script src="~/Content/js/vue.js" type="text/javascript"></script>
<script src="~/Content/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="Content/js/Common.js" type="text/javascript"></script>
@*@Html.Partial("~/Views/Public/SubPageNav.cshtml")*@

@{Html.RenderAction("PubSearch", "Public");}
@*Success*@
<div id="allbox" style="width:100%;height:auto;">
    <div style="width:70%;height:auto;margin:0 auto;border:1px solid #dddddd;">
        <div id="contentdiv" style="width:95%;height:auto;min-height:200px;margin:0 auto;">

        </div>
    </div>
</div>
<script type="text/javascript">
    //初始化vue组件
    var vm = new Vue({
        el: '#allbox',
        data: {

        }, methods: {
            //加载数据
            loaddata: function (id) {
                var tbodyui = "";
                page_indx = pageindex;
                $.ajax({
                    type: "Get",
                    dataType: "JSON",
                    url: '/News/GetDetailByID',
                    data: "id=" + id,
                    async: true,
                    success: function (json) {
                        console.log(JSON.stringify(json))
                        var state = json.state;
                        if (state == "Success") {
                            var returndata = json.data;
                            $("#contentdiv").html(returndata.ContentAll);
                        }
                        else {
                            layer.msg("系统异常！", { icon: 5 });
                        }
                    },
                    error: function () { layer.msg('未找到数据', { icon: 5 }); }
                })
                //$("html, body").stop().animate({ scrollTop: $("#records").offset().top - 200 }, 400);
            }
        }
    });
    $(function () {
        var id = decodeURI(getQueryString("id"));
        alert(id);
        vm.loaddata(id);
    });
</script>
@Html.Partial("~/Views/Public/Bottom.cshtml")