
div.black2 {
	 padding:5px; text-align: center;
     margin-top:20px;
     margin-bottom:20px;
}
    div.black2 a {
        border: #cbcbcb 1px solid;
        padding: 8px 10px;
        margin: 3px;
        color: #515151;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
    }
    div.black2 a:hover {
        border: #cbcbcb 1px solid;
        color: #fff;
        background-color: #409EFF;
    }
    div.black2 a:active {
        border: #cbcbcb 1px solid;
        color: #fff;
        background-color: #409EFF;
    }
    div.black2 span.current {
        border: #cbcbcb 1px solid;
        padding: 8px 10px;
        margin: 3px;
        color: #ffffff;
        background-color: #409EFF;
        border-radius:5px;
    }
div.black2 span.disabled {
    border: #eee 1px solid; 
    padding:8px 10px;
    margin: 3px;
    color: #999999; 
    border-radius:5px;
}


.search-content-box > .search-content > table > thead > tr > th, .search-content-box > .search-content > table > tbody > tr > td {
    border-right:0px;
}
.search-content-box > .search-content > table > tbody > tr:nth-child(2n) {
    background:#ffffff;
}
.phtd a{
    color: #1593FF !important;
}
