@{ViewBag.Title = "塑料和弹性体-物料对比"; }

@Html.Partial("~/Views/Public/SubPageNav.cshtml")

@Html.Partial("~/Views/Public/PubSearch.cshtml")
<div class="marginTop">
    <table class="table-contrast">
        <tbody>
            <tr>
                <td class="cell-title">产品名称</td>
                <td class="cell-3">
                    <input class="contrast-input" type="text" value="PLLYLAC@PA-757"><a class="btn btn-orange"><span class="fa fa-search"></span>选择</a>
                </td>
                <td class="cell-3">
                    <input class="contrast-input" type="text" value="PLLYLAC@PA-758"><a class="btn btn-orange"><span class="fa fa-search"></span>选择</a>
                </td>
                <td class="cell-3">
                    <input class="contrast-input" type="text" value=""><a class="btn btn-orange"><span class="fa fa-search"></span>选择</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="contrast_remark"><span class="contrast_remark_line"></span>基础参数</p>
    <table class="table-contrast">
        <tbody>
            <tr>
                <td class="cell-title">用途</td>
                <td class="cell-3">电视外壳</td>
                <td class="cell-3">电视外壳</td>
                <td class="cell-3"></td>
            </tr>
            <tr>
                <td class="cell-title">特性</td>
                <td class="cell-3">电视外壳</td>
                <td class="cell-3">电视外壳</td>
                <td class="cell-3"></td>
            </tr>
            <tr>
                <td class="cell-title">供货地区</td>
                <td class="cell-3">深圳</td>
                <td class="cell-3">长沙</td>
                <td class="cell-3"></td>
            </tr>
        </tbody>
    </table>
    <p class="contrast_remark"><span class="contrast_remark_line"></span>技术参数</p>
    <table class="table-contrast">
        <thead>
            <tr>
                <th style="max-width: 100px;min-width: 100px;">物理性能</th>
                <th style="width: 8.5%;">额定值</th>
                <th style="width: 8.5%;">单位制</th>
                <th style="width: 15%;">测试方法</th>

                <th style="width: 8.5%;">额定值</th>
                <th style="width: 8.5%;">单位制</th>
                <th style="width: 15%;">测试方法</th>

                <th style="width: 8.5%;">额定值</th>
                <th style="width: 8.5%;">单位制</th>
                <th style="width: 15%;">测试方法</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="cell-title">密度/比重</td>
                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="cell-title">熔流率(熔体流动速率)(200℃/5kg)</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="cell-title">熔融体积流量(MVR)(220℃/10kg)</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="table-contrast">
        <thead>
            <tr>
                <th style="max-width: 100px;min-width: 100px;">硬 度</th>
                <th style="width: 8.5%;">额定值</th>
                <th style="width: 8.5%;">单位制</th>
                <th style="width: 15%;">测试方法</th>

                <th style="width: 8.5%;">额定值</th>
                <th style="width: 8.5%;">单位制</th>
                <th style="width: 15%;">测试方法</th>

                <th style="width: 8.5%;">额定值</th>
                <th style="width: 8.5%;">单位制</th>
                <th style="width: 15%;">测试方法</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="cell-title">洛氏硬度（R级）</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="table-contrast">
        <thead>
            <tr>
                <th style="max-width: 100px;min-width: 100px;">机械性能</th>
                <th style="width: 8.5%;">额定值</th>
                <th style="width: 8.5%;">单位制</th>
                <th style="width: 15%;">测试方法</th>

                <th style="width: 8.5%;">额定值</th>
                <th style="width: 8.5%;">单位制</th>
                <th style="width: 15%;">测试方法</th>

                <th style="width: 8.5%;">额定值</th>
                <th style="width: 8.5%;">单位制</th>
                <th style="width: 15%;">测试方法</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="cell-title">抗张强度（R级）</td>
                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="cell-title">伸长率（R级）</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="cell-title">弯曲模量</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td>1.05</td>
                <td>g/cm<sup>2</sup></td>
                <td>ASTMD792</td>

                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        $(".navBox").find(".nav").find("li").eq(4).children("a").addClass("active");
    })
</script>

@Html.Partial("~/Views/Public/Bottom.cshtml")