<style type="text/css">
    .selectTitle {
        line-height: 45px;
        height: 45px;
        font-size: 16px;
    }

        .selectTitle span {
            color: #50b7f0;
        }

    .pagelist {
        float: left;
        width: 280px;
        white-space: nowrap;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .pagelist .text_2 {
            padding: 2px 5px;
            border: solid 1px #fff;
            cursor: pointer;
        }

            .pagelist .text_2:hover {
                border: dashed 1px #e95721;
            }

    .text2check {
        border: solid 1px #e95721 !important;
    }

    .AandZ {
        height: 35px;
        line-height: 35px;
        border-bottom: solid 1px #999999;
        margin-bottom: 10px;
    }

        .AandZ a {
            margin-right: 10px;
            cursor: pointer;
            font-weight: 700;
        }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .clear {
        clear: both;
    }

    .warning {
        color: #f37b1d !important;
    }
</style>
<link href="~/Content/css/H-ui.min.css" rel="stylesheet" />
<link href="~/Content/css/Pagination.css" rel="stylesheet" />
<script src="~/Scripts/jquery.pagination.js" type="text/javascript"></script>
<script src="~/Content/layui/lay/modules/layer.js" type="text/javascript"></script>
<div c style="margin:40px;">
    <div class="selectTitle">请选择你要选择对比产品</div>
    <div>
        <div class="left" style="width:78%;">
            <input type="text" id="txtQuery" placeholder="请输入牌号" class="input-text" />
        </div>
        <div class="right" style="width:20%;">
            <button class="btn btn-secondary-outline radius" id="btn-Query" type="button">检索</button>
            <button class="btn btn-success-outline radius" id="btn-True" type="button">确定</button>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clearfix" data-type="" data-typename="" data-checkmore="true">

        <div class="search-content-box">
            <div class="search-content-page">
                共搜索到<span style="color: red;">100万</span>条相关商品信息
            </div>
            <div class="search-content">
                <table>
                    <thead>
                        <tr>
                            <th>选择</th>
                            <th>牌号</th>
                            <th>厂商</th>
                        </tr>
                    </thead>
                    <tbody id="tempHtml_list">
                        <tr>
                            <td><input type="radio" /></td>
                            <td>Ravago Manufactuing Americas,LLC</td>
                            <td>ABS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="black2" id="Pagination">
        </div>

    </div>

</div>



<script type="text/javascript">

    var parentValue = getQueryString("rid");


    var pagesize = 20;
    var rowcount = 0;
    var datas = "";
    var page_indx = 0;
    var count = 0;
    $().ready(function () {
        InitData(0);
    });

    function InitData(pageindx) {
        page_indx = pageindx;
        var tbodyui = "";
        var typelist = "";
        // alert(keywork)
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: '/Contrast/MoreDataList',
            data: "pageindex=" + (pageindx + 1) + "&pagesize=" + pagesize+ "" + datas,
            async: false,
            success: function (json) {
                //debugger;
                var productData = json.data;
                var strvar = "";
                rowcount = json.totalCount;
                if (rowcount != 0 && productData != "") {
                    $.each(JSON.parse(productData), function (i, n) {
                        tbodyui += "<tr onclick=\"selectradio('" + n.ProductGuid + "');\" ondblclick=\"shartProduct('" + n.ProductGuid + "','" + n.ProModel+"')\">";
                        tbodyui += "<td><input type=\"radio\" id='" + n.ProductGuid + "'  value='" + n.ProModel+"' name=\"radio-btn\" /></td>";
                        tbodyui += "<td>" + n.ProModel + "</td>";
                        tbodyui += "<td>" + n.PlaceOrigin + "</td>";
                        tbodyui += "</tr>";
                    });
                }
                else {
                    tbodyui += "<tr>";
                    tbodyui += "<td colspan=\"3\" align=\"center\" class='red'>未找到数据</td>";
                    tbodyui += "</tr>";
                }
                $("#tempHtml_list").html(tbodyui);

            },
            error: function () { layer.msg('Load the data failure!', { icon: 5 }); }
        });
        //暂时不需要分页
        $("#Pagination").pagination(rowcount, {
            callback: pageselectCallback,
            prev_text: '上一页',
            next_text: '下一页',
            items_per_page: pagesize,
            num_display_entries: 6,
            current_page: pageindx,
            num_edge_entries: 1
        });
        $("html, body").stop().animate({ scrollTop: $("#btn-Query").offset().top - 200 }, 400);


    }

    function pageselectCallback(page_id, jq) {
        InitData(page_id);
    }

    function selectradio(obj) {
        $("#" + obj).attr("checked", true);
    }

    //搜索
    $("#btn-Query").click(function () {
        datas = "&txtQuery=" + $.trim($("#txtQuery").val());
        InitData(0);
    })
    //选中值 
    function shartProduct(proid, protitle) {
        window.parent.$("#" + parentValue).val(protitle);
        window.parent.$("#Hid_" + parentValue).val(proid);
        window.parent.onLoadContrast();
        CloseWindow();
    }
    //确定值
    $("#btn-True").click(function () {
        var checkedvalue = "";
        var checkedID = "";
        $.each($("input[name='radio-btn']"), function (index, item) {
            if ($(this).is(":checked")) {
                checkedvalue = $(this).val();
                checkedID = $(this).attr("id");
            }
        })
        //alert(checkedvalue + "+" + checkedID);
        if (checkedvalue == "" && checkedID == "") {
            layer.msg("请选择对比产品！", { icon: 5 });
            return false;
        }
        shartProduct(checkedID, checkedvalue);

    })

    ///关闭当前页面
    function CloseWindow() {
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);

    }
</script>